<header class="blue-header header">
  <p>Mon profil</p>
</header>
<section class="bg-light lter">
  <section class="hbox stretch">
    <aside class="aside-activities bg-white">
    <!-- Activities template -->
    </aside>
    <aside class="aside-user-edit bg-light lter b-l">
    <!-- User edit template -->
    </aside>
  </section>
</section>