  <header class="blue-header dker header clearfix padder-t b-b">
    <div class="btn-group" id="sortMenu">
      <button class="btn btn-sm btn-white dropdown-toggle" data-toggle="dropdown">Trier par <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li data-criteria="lastname" class="active">Nom</li>
        <li data-criteria="roles">Permissions</li>
        <!-- <li data-criteria="services">Services</li> -->
        <li data-criteria="last_login">Dernière connexion</li>
        <li data-criteria="id">Date de création</li>
      </ul>
    </div>
    <div id="addUserButton">
      <a href="" class="btn btn-sm btn-default new-user">Ajouter un compte</a>
    </div>
    <ul class="breadcrumb m-n">
    </ul>
  </header>
  <section class="bg-light lter">
    <section class="hbox stretch">
      <!-- .aside -->
      <aside>
        <section class="vbox">
          <section class="scrollable" id="userManagementContent">
            <!-- user list -->
            <ul id="user-list" class="list-group list-group-sp"></ul>
          </section>
          <footer class="footer">
            <p id="userListCounter"></p>
            <p id="userMaxReachedAlert" class="text-danger">Vous avez atteint la limite de création de comptes</p>
          </footer>
        </section>
      </aside>
      <!-- /.aside -->
      <aside id="user-detail" class="aside-userManagement bg-light lter b-l hide"></aside>
      <!-- Affichage du panneau de modification-->
    </section>
  </section>
