<div class="view" <% if(typeof(id)!=="undefined") { %>data-id="<%=id %>"<% } %>>
  <button class="destroy close hover-action">×</button>
  <div class="userList-item">
    <img <% if(typeof(avatar)!=="undefined") { %>src="<%=avatar %>"<% } %> alt="Impossible d'afficher l'avatar" width="70" height="70"/>
    <div class="user-info">
    	<div class="user-name"><%=(lastname.toUpperCase()) %> <%=firstname %></div>
    	<div class="user-role">	
            <% if(typeof(roles_human)!=="undefined") { %><%=roles_human %><% } %>
    	</div>
	    <div class="user-lastLog">
	    	<% if(typeof(last_login_human)!=="undefined") { %><%=last_login_human %><% } %>
		</div>
    </div>

  </div>
</div>