<div class="vbox"> 
  <header class="header bg-light bg-gradient">
    <ul class="nav nav-tabs nav-white">
      <li class="users-charts-nav active"><a href="#users-charts-skeleton" data-toggle="tab">Statistiques</a></li>
      <li class=""><a href="#users-chats-skeleton" data-toggle="tab">Conversations</a></li>
      <li class=""><a href="#users-logs-skeleton" data-toggle="tab">Activités</a></li>
    </ul>
  </header>
  <section>
    <div class="tab-content hbox stretch">
      <div class="tab-pane active" id="users-charts-skeleton">
      <!-- Statistics -->
      </div>
      <div class="tab-pane vbox" id="users-chats-skeleton">
      <!-- Chats -->
      </div>
      <div class="tab-pane vbox" id="users-logs-skeleton">
      <!-- Logs -->
      </div>
    </div>
  </section>
</div>