html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	overflow: hidden;
}

.wrapper-site {
	overflow: hidden;
	width: 100%;
	height: 100%;
	padding:0; 
	border:0
}

iframe {
	width: 100%;
	height: 100%;
	padding:0; 
	border:0
}