<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}404 Page non trouvée{% endblock %}</title>
  <meta name="description" content="lily, agent virtuel, back office" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

{% block stylesheets %}
  
{% stylesheets 'css/bootstrap.css' 'css/animate.css' 'css/font-awesome.min.css' 'css/font.css' 'css/plugin.css' 'css/app.css' filter='cssrewrite' %}
  
  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
  
{% endstylesheets %}

{% endblock %}
  
  <!--[if lt IE 9]>
    <script src="{{ asset('js/ie/respond.js') }}" cache="false"></script>
    <script src="{{ asset('js/ie/html5.js') }}" cache="false"></script>
    <script src="{{ asset('js/ie/fix.js') }}" cache="false"></script>
  <![endif]-->

</head>
<body class="login-bg">

{% block body %}
<section id="content">
    <div class="row m-n">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="text-center m-b-lg">
          <h1 class="h text-white animated bounceInDown">404</h1>
        </div>
        <div class="list-group m-b-sm bg-white m-b-lg">
          <a href="index.html" class="list-group-item">
            <i class="icon-chevron-right"></i>
            <i class="icon-home"></i> Goto homepage
          </a>
          <a href="form.html" class="list-group-item">
            <i class="icon-chevron-right"></i>
            <i class="icon-question"></i> Send us a tip
          </a>
          <a href="#" class="list-group-item">
            <i class="icon-chevron-right"></i>
            <span class="badge">021-215-584</span>
            <i class="icon-phone"></i> Call us
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- footer -->
  <footer id="footer">
    <div class="text-center padder clearfix">
      <p>
        <small>Mobile first web app framework base on Bootstrap<br>&copy; 2013</small>
      </p>
    </div>
  </footer>
{% endblock %}

</body>
</html>