<% if (shouldOpenStandalone) { %>
<a class="standalone-link-wrapper" href="{{ url('lily_app_index', { licence: licence }) }}" rel="nofollow">
<% } %>
  <h2 class="attention-grabber-title">
    <%= attGrabberTitle %>
  </h2>
  <% if (attGrabberContent) { %>
  <p class="attention-grabber-content">
    <%= attGrabberContent %>
  </p>
  <% } %>
  <button class="attention-grabber-cta">
    <%= attGrabberCta %>
    <svg class="arrow-right-icon" xmlns="http://www.w3.org/2000/svg" width="26" height="29">
      <title>
        discovery arrow
      </title>
      <path class="line" fill="none" stroke="#555" d="M8.5 17.997s4.953-3.515 5.814-4.198c.862-.686 1.306-.654 1.306-1.298 0-.643-.8-.732-1.89-1.56-1.087-.83-5.23-3.932-5.23-3.932" stroke-linecap="square"/>
    </svg>
  </button>
<% if (shouldOpenStandalone) { %>
</a>
<% } %>

<div class="attention-grabber-close">&#10005;</div>

