<aside class="aside bg-light lter b-r" id="nav">
  <nav class="nav-primary hidden-xs">
    <ul class="nav">
      <li>
        <a href="#">
          <i class="icon-eye-open"></i>
          <span>Clients</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>