{%verbatim%}                              

<li class="list-group-item content-answer active" >			 
			 
	
			 
  <div class="reponse-item">
    <%if(typeof(title)=='undefined'){%>
	<!--<i class="icon-reorder icon-reponse pull-left"></i>-->
	<div class="reponse-name ">Titre de la nouvelle réponse</div>
	<div class="conteneur-textarea form-control hide"> 
  <textarea class="edit edit-reponse-content value-save" placeholder="Titre de la nouvelle réponse"></textarea>
 </div>

</div> 
	<% } else {%>
	<!--<i class="icon-reorder icon-reponse pull-left"></i>-->
	<div class="reponse-name "><%=title%></div>
<div class="conteneur-textarea form-control hide"> 
  <textarea class="edit edit-reponse-content value-save"><%=title%></textarea>
 </div>

</div> 
	<!-- FIN-->
	<%}%>
</div>       
 </li>



  {%endverbatim%}