<header class="header bg-light lter">
  <ul class="nav nav-tabs">
    <li class="dashboard-nav"><a href="#dashboard">Dashboard</a></li>
    <li class="live-nav"><a href="#live">Discussions</a></li>
  </ul>
</header>
<section class="js-main-container bg-light">
  <!--
    Here Goes Live & Dashboard
  -->  	  
</section>