<div class="wrapper-button-categories">

<button class="button-categories hide-categories">Masquer tout</button>
<button class="button-categories display-categories">Afficher tout</button>





</div>