{%verbatim%}
<!-- Title-->
<%if(typeof(title)=="undefined"){%>
	<div class="title-popup">Ajouter une nouvelle catégorie</div>
<%} else {%>
	<div class="title-popup">Modifier la catégorie</div>
<%}%>



<div>
	<!--Block title category -->
	<div class="intitule-categorie " data-id="id" data-redirection="redirection.id" data-color="color">
		<p class="label-popup">
		<%if(typeof(title)=="undefined"){%>
		Nouvelle catégorie :
		<%}else {%>
		Intitulé de la catégorie :
		<%}%>
		</p>
		<% if(typeof(title)=="undefined"){%>
		<input placeholder="Titre de la catégorie"  class="valeur-categorie" id="title-category">  	
		<% } else {%>
		<input value="<%=title%>"  class="valeur-categorie" id="title-category">  	
		<%}%>
	</div>	
	<!--Block title category parent-->
	<div class="wrapper-categories-parent">            
		<p class="label-popup">Catégorie parent</p>
		<button data-toggle="dropdown" class="btn btn-sm btn-white dropdown-toggle ">
			<%if(typeof(this.model.get('parent'))=='undefined'){%>
				<span class="dropdown-label item-list-popup" id="categoryParent" data-id="NULL" >Aucune catégorie</span> 
			<%} else {%>
				<%if(this.model.get('parent')==null){%>
				<span class="dropdown-label item-list-popup" id="categoryParent" data-id="NULL" >Aucune catégorie</span> 
				<%} else {%>
				<span class="dropdown-label item-list-popup" id="categoryParent" data-id=""><%=parent.title%> </span> 
				<%}%>
			<%}%>

		<span class="caret"></span>
		</button>
		<ul class="dropdown-menu dropdown-select list-categories-popup list-categories-displayed" >
		</ul>
	</div>
</div>				 
<!-- Liste des redirections-->
<div class="wrapper-redirections">            
	<p>Redirection</p>
	<button data-toggle="dropdown" class="btn btn-sm btn-white button-redirection dropdown-toggle ">
	<%lppp = this;%>
	<%if(typeof(this.model.get('redirection'))!=='undefined'){%>       
	   <%if(this.model.get('redirection')===null){%>
		  <span class="dropdown-label item-list-popup" id="redirectionToSave" data-id="NULL">Titre redirection</span> 
	  <%} else {%>
		  <span class="dropdown-label item-list-popup" id="redirectionToSave"  data-id="<%=redirection.id%>"><%=redirection.title%></span> 
	  <%}%>
  <%}else {%>
	<span class="dropdown-label item-list-popup" id="redirectionToSave" data-id="NULL">Titre redirection</span> 
  <%}%>
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu dropdown-select wrapper-redirection" >	 
	</ul>
</div>

			<!--List squares colored -->
<ul id="list-squares-colored">Couleur de la catégorie
	<br/>		 	
</ul>	
<%if(typeof(title)=='undefined'){%>
			<button class="button-popup saveCategory" >Sauvegarder</button>
		<%}else{%>
			<button class="button-popup updateCategory" >Sauvegarder</button>
			<button class="button-popup deleteCategory" >Supprimer</button>
		<%}%>
			<button class="button-popup cancelCategory" >Annuler</button>

</div>

{%endverbatim%}