{%verbatim%}
<span class="bg-transparent" >
	<i class="lily-icon lily-icon-label-full text-danger pull-left m-t-xs display-category" style="color:#<%=color %>" id="categorie-<%=id%>"></i>
	<div class="sub-category-item-list" data-id="<%=id%>">
		<%= title%>
	</div>	

</span>

{%endverbatim%}