<ul class="nav nav-pills nav-stacked no-radius m-t-sm" id="wrapper-list-categories">
    <!--Liste des catégories -->
    <li class="padder text-sm l-h-3x wrapper-title-list-categories">
        <span>Catégories
              
			<span  class="add-category"> 
				<span class="pull-right">  
					<!--<i class="icon-plus  m-t " ></i>-->
					<span class="link-action">Ajouter</span>
			  </span>
			</span>
        <!--Popup pour la modification de la catégorie-->
        </span>
    </li>
    
    <div id="popup-categorie" class="hide">
    </div>
    <ul id="list-categories">
    </ul>
</ul>

