{% extends "LilyHomePageBundle:fr:layout.html.twig" %}

{% block title %}{{ 'Mentions légales - SAIO'|trans }}{% endblock %}

{% block content %}

	<!--Mentions legales-->
	<section id="legal">

		<div class="wrapper">
			<h1>Mentions légales</h1>
			<p>Le site www.saio.fr est une publication de SAIO SAS, société par actions simplifiées au capital de 20 000€, ayant son siège social au :<br>9 rue Charles Fourier 91000 Evry.<br><br>Directeur de la publication : Nicolas Mitchell<br><br>Numéro de téléphone : +33 1 60 76 69 71<br><br>Ce site est hébergé chez Ovh situé au :<br>2 rue Kellermann<br>BP 80157<br>59100 Roubaix</p>
		</div>

	</section>

{% endblock %}