{% extends "LilyHomePageBundle:fr:layout.html.twig" %}

{% block title %}{{ 'Recrutement - SAIO'|trans }}{% endblock %}

{% block content %}

	<!--Recrutement-->
	<section id="recruitment" >

		<div class="wrapper">
			<h1>{{ 'SAIO recrute ! Consultez nos offres et n\'hésitez pas à nous contacter pour postuler, nous vous répondrons dans les plus brefs délais !'|trans }}</h1>
		</div>

	</section>

	<section id="dev_back">

		<div class="wrapper">
			<h1>{{ 'Développeur Full-Stack (H/F)'|trans }}</h1>
			<div class="content">
				<a href="#" class="button">Télécharger l'offre en pdf</a>
				<p><strong>Location :</strong> Arcueil (94110) à 5 minutes à pieds de la gare Laplace du RER B</p>
				<p><strong>Contrat :</strong> Stage long / CDI</p>
				<p>Développeur web enthousiaste et ambitieux, vous cherchez un environnement de travail stimulant qui utilise les technologies de demain ? Alors si vous avez l’esprit entrepreneurial et que vous souhaitez participer au développement d’un projet innovant au sein d’une équipe jeune et dynamique : cette opportunité est faite pour vous !</p>
				<h2>Qui sommes-nous ?</h2>
				<p>SAIO est une jeune start-up éditrice de logiciels composée de 6 passionnés qui aspire à devenir la référence de la relation client en France. Dans une ambiance de travail fun et décontractée, vous pourrez enrichir vos compétences en travaillant sur des technologies novatrices tout en répondant à des problématiques de maintenabilité, de scalabilité et de processus d’intégration continue. Nous adorons confronter nos idées et votre avis sera toujours pris en considération peu importe le domaine d’activité, aussi bien sur la stratégie d’entreprise, le marketing et le produit qu’au niveau de l’expérience utilisateur.<br><br>Nous proposons une solution complète et intelligente destinée aux entreprises qui leur permet d’optimiser leur relation client. En résumé notre solution permet d’aider les  consommateurs à obtenir leurs réponses rapidement tout en réduisant les coûts de support de l’entreprise.</p>
				<h2>Le poste : un membre de l’équipe à part entière !</h2>
				<ul>
					<li>Développement de l’application</li>
					<li>Veille technique et recherche permanente de l’amélioration du produit</li>
					<li>Participation active aux réflexions sur le produit et les nouvelles fonctionnalités</li>
				</ul>
				<h2>Nous travaillons sur :</h2>
				<ul>
					<li>Express.js</li>
					<li>Backbone.js</li>
					<li>Redis</li>
					<li>Symfony2</li>
				</ul>
				<h2>Les compétences indispensables :</h2>
				<ul>
					<li>Solide expérience en Javascript</li>
					<li>Forte motivation et volonté de s’impliquer</li>
					<li>Autonome, méthodique et rigoureux</li>
				</ul>
				<h2>Les plus souhaités :</h2>
				<ul>
					<li>Expérience sur Node.js</li>
					<li>Expérience sur un framework Javascript (Angular, Ember, React etc.), Backbone.js est un gros plus ainsi qu’une compréhension du modèle MVC</li>
					<li>Expérience d’utilisation et de création de RESTful APIs</li>
					<li>Expérience d’utilisation SCSS</li>
					<li>Utilisation d’un task runner (Gulp / Grunt)</li>
					<li>Connaissance et compréhension des communications via Websockets</li>
					<li>Maîtrise de Git</li>
					<li>Maîtrise de l’environnement Linux, compréhension des processus de déploiement et d’intégration continue</li>
					<li>Compréhension des enjeux de scalabilité et de modularité des applications web modernes</li>
					<li>Compréhension des problématiques de design et d’expérience utilisateur</li>
				</ul>
				<h2>Comment nous recrutons :</h2>
				<ul>
					<li>Nous nous rencontrons autour d’un café</li>
					<li>Vous venez avec du code, des projets que vous avez réalisés</li>
					<li>Nous vous proposons une petite fonctionnalité à coder en Javascript</li>
					<li>Nous échangeons sur votre compréhension des applications web modernes</li>
					<li>Si votre profil nous convient vous commencez dès que possible</li>
				</ul>
				<h2>Comment postuler :</h2>
				<p>Si vous êtes intéressés par notre offre, n’hésitez pas à nous envoyer votre CV à <a href="mailto:contact@saio.fr?Subject=[Recrutement] Offre développeur Full-Stack (HF)&amp;">contact@saio.fr</a>.<br>Si vous le souhaitez vous pouvez également joindre une lettre de motivation.</p>
				<a href="mailto:contact@saio.fr?Subject=[Recrutement] Offre développeur Full-Stack (HF)&amp;" class="button">{{ 'postuler dès maintenant'|trans }}</a>
			</div>
		</div>

	</section>

{% endblock %}