/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/*
/web/bundles/*
/app/config/parameters.yml
/app/config/parameters_dev.yml
/app/config/parameters_staging.yml
/web/js/bower_components
/web/js/compiled
/web/css/compiled
node_modules
node_modules/*/node_modules
compiled
tmp
temp
ftpsync.settings
.remote-sync.json
