/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/*
/web/bundles/*
/app/config/parameters.yml
/app/config/parameters_dev.yml
/app/config/parameters_staging.yml
/web/js/bower_components
/web/js/compiled
/web/js/build
/web/build
/web/build/*
/web/css/compiled
node_modules
node_modules/*/node_modules
web/build/js/
/build/
compiled
tmp
temp
bin
ftpsync.settings
.remote-sync.json
sftp-config.json
npm-debug.log
composer.phar
composer.lock
