<footer class="panel-footer">
  <div class="row text-center">
    <a data-type="conversations" class="col-xs-4 b-r">
      <p class="h3 font-bold m-t"><%-parseInt(conversations) %></p>
      <p class="text-muted">Conversations / heure</p>
    </a>
    <a data-type="duration" class="col-xs-4 b-r">
      <p class="h3 font-bold m-t"><%-parseInt(duration/60) + 
        ' min ' + parseInt(duration%60) + ' s' %>
      </p>
      <p class="text-muted">Par conversation</p>
    </a>
    <a data-type="satisfaction" class="col-xs-4">
      <p class="h3 font-bold m-t"><%-parseInt(satisfaction*100) %> %</p>
      <p class="text-muted">Satisfaction</p>                        
    </a>
  </div>
</footer>