<header class="panel-heading font-bold">Statistiques personnelles du Live Chat
</header>
<div class="panel-body">
  <div class="graph"></div>
  <div class="text-center wrapper">
    <i class="icon-spinner icon-spin icon-large"></i>
  </div>
</div>