<li class="list-group-item animated bounceInLeft resume-question header-liste-questions " >	              
                      <a class="clear row">	              	
                        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-8 question-show" id="header-questions-unanswered-title">	                  
                          <span>
                            <span >Intitulé
                                 <span id="fleche-titre-sans-reponse"class="arrow-sort text- pull-right m-t-xs categorie" ></span> 
                            </span> 
                          </span>	              	
                        </div>	              	   	              	
                        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 request-col-unanswered question-show" id="header-questions-unanswered-requests">
                        <span id="fleche-frequence-sans-reponse"class="arrow-sort text- pull-right m-t-xs categorie" >
                              </span> <small>Fréquence</small>
                        
                        </div>
						      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-2  question-show" id="header-questions-unanswered-date">
                        <span id="fleche-date-sans-reponse"class="arrow-sort text- pull-right m-t-xs categorie" >
                              </span> <small>Date</small>
                        
                        </div>
                        
                     	              </a>	            
                    </li>