 <li class="list-group-item animated bounceInLeft resume-question header-liste-questions" >	              
                      <a href="#" class="clear row">	              	
                               <div class="colonne-category" id="header-question-categorie">	  
								<span id="fleche-categorie"class="arrow-sort text- pull-left m-t-xs categorie" >
                            </span>   
							</div>
                        <div class="col-lg-4 col-md-3 col-sm-5 col-xs-8 title-colonne question-a-afficher" id="header-question-title">	                  
                            <span>Intitulé 
                              <span id="fleche-titre"class="arrow-sort text- pull-right m-t-xs categorie" >
                              </span> 
                            </span>	              	
                        </div>
                        
                                  	
                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-4 question-a-afficher col-satisfaction-title title-colonne" id="header-question-satisfaction" >
                        <div class="title-colonne pull-left">Satisfaction</div>
                     
                        <div id="fleche-satisfaction" class=" pull-right arrow-sort  m-t-xs categorie question-a-afficher"></div>
                        </div>
                          
                        <div class="col-lg-2 col-md-3 col-sm-3 colonne-requests question-a-afficher title-colonne requests-col " id="header-question-requests" >
                          
                       <span>Fréquence</span>
                  <div id="fleche-frequence" class=" arrow-sort  m-t-xs categorie col-lg-1 col-md-1 col-sm-1 col-xs-1 question-a-afficher pull-right"></div>
                        </div>
  	              	
						<div class="col-lg-2 colonne-date-added question-a-afficher title-colonne" id="header-question-date">                                         
                          <div class="title-colonne pull-left">Date</div>
                        <div id="fleche-date" class="arrow-sort text- m-t-xs categorie pull-right "></div> 	
                        </div>
                                      
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center ">
                        </div>	              </a>	            
                    </li>    