<section class="wrapper-answers">
  <div class="answer-box">
    <div class="answer-empty">
      <p>Recherchez une question dans votre base de connaissance</p>
    </div>
    <!-- Here goes the answer-->
  </div>
</section>

<section class="action-container">
  <div class="search-input-component">
    <div class="wrapper-input group">
      <input placeholder="Rechercher..." class="textarea-input search-input">
    </div>
  </div>
</section>
