<section class="wrapper-answers">
  <div class="answer-box">
    <div class="answer-empty">
      <p>Recherchez une question dans votre base de connaissance</p>
    </div>
    <p class="on-boarding-feature-search">
      (Nouveau !) Vous pouvez à tout moment rechercher la réponse à une question dans votre base de connaissance. Trouvez plus rapidement l'information recherchée par votre interlocuteur !
    </p>
    <!-- Here goes the answer-->
  </div>
</section>

<section class="action-container">
  <div class="search-input-component">
    <div class="wrapper-input group">
      <input placeholder="Rechercher..." class="textarea-input search-input">
    </div>
  </div>
</section>
