<footer class="panel-footer">
  <div class="row text-center">
    <a data-type="conversations" class="col-xs-3 b-r">
      <p class="h3 font-bold m-t">
        <%= parseInt(conversations) %>
      </p>
      <p class="text-muted">Conversations</p>
    </a>
    <a data-type="duration" class="col-xs-3 b-r">
      <p class="h3 font-bold m-t">
        <%= parseInt(duration/60) + ' min ' + parseInt(duration%60)  + ' s'  %>
      </p>
      <p class="text-muted">Moyenne par conversation</p>
    </a>
    <a data-type="waited" class="col-xs-3 b-r">
      <p class="h3 font-bold m-t">
        <%= parseInt(waited/60) + ' min ' + parseInt(waited%60)  + ' s'  %>
      </p>
      <p class="text-muted">Temps moyen d'attente</p>
    </a>
    <a data-type="satisfaction" class="col-xs-3">
      <p class="h3 font-bold m-t">
        <%= parseInt(satisfaction*100) + '%' %>
      </p>
      <p class="text-muted">Taux de satisfaction</p>                        
    </a>
  </div>
</footer>