<header class="panel-heading font-bold">Statistiques live chat
  <div class="reportrange pull-right">
    <i class="icon-calendar"></i>
    <span></span><b class="caret"></b>
  </div>
</header>
<div class="panel-body bg-white">
  <!-- loader --> 
  <div class="graph"></div>
</div>