<footer class="panel-footer">
<div class="row text-center">
  <a class="col-xs-3 loadings b-r">
    <p class="h3 font-bold m-t"><%= loadings %></p>
    <p class="text-muted">Chargements</p>
  </a>
  <a class="col-xs-3 usage b-r">
    <p class="h3 font-bold m-t"><%= usage %> %</p>
    <p class="text-muted">Utilisation</p>
  </a>
  <a class="col-xs-3 redirection b-r">
    <p class="h3 font-bold m-t"><%= redirection %> %</p>
    <p class="text-muted">Redirection</p>
  </a>
  <a class="col-xs-3 satisfaction">
    <p class="h3 font-bold m-t"><%= satisfaction %> %</p>
    <p class="text-muted">Satisfaction</p>                        
  </a>
</div>
</footer>