  <!-- Graphique Utilisation -->
  <div class="col-md-12">
    <section id="graph" class="panel"></section>
  </div>
  
  <div class="col-md-6">
    <section class="panel">
      <header class="panel-heading font-bold">Redirections</header>
      <div class="panel-body">	
      	<div id="redirections" style="position: relative; height: 316px"></div>                        
      </div>
    </section>                
  </div>	
  
  <div class="col-md-6">
    <!-- Graphique Supports -->
    <section class="panel">
      <header class="panel-heading font-bold">Supports utilisés</header>	
	  <div id="media" style="position: relative;"></div>
    </section>                
  </div>
