.userList-item .user-info {
    display: inline-block;
    font-size: 10px;
    line-height: 23px;
    padding-left: 20px;
    vertical-align: top;
}

#user-list .active {
    background: none repeat scroll 0 0 #58cef6;
    color: white !important;
}