/* =======================================================================================
LIVE CHAT
=======================================================================================================*/
.conversation-section-list a {
  text-decoration: underline;
  color: #6a9bff;
}

.conversation-section-item .avatar-thumb {
  height: 36px;
}

.operator-connected-list .thumb-sm {
  text-align: center;
  border: solid 1px #dbdfe5;
}

.js-main-container i {
  font-weight: bold !important;
}

.conversations {
  z-index: 3;
}

.conversations.show-conversation-list {
  padding-left: 275px;
  overflow: hidden;
}

.conversations .avatar {
  float: left;
}

.conversations .editor {
  padding: 10px;
  outline: none;
  margin: 5px;
  border-radius: 3px;
}

.conversations .editor:focus,
.conversations .editor:active {
  border: solid 1px rgba(87, 154, 215, 0.6);
}

.conversations .editor a {
  text-decoration: underline;
  color: #6a9bff;
}

.conversations .editor p {
  margin: 0;
}

.conversations .toolbar .btn {
  padding: 5px;
  background: #eaecf0;
}

.shell-alert {
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  color: white;
  border-radius: 2px;
  background: #a5a5a5;
}

.suggestions {
  position: relative;
  border: 1px solid #ebeff6;
  background: #f9fafc;
}

.suggestions-header {
  height: 22px;
  padding: 5px;
  border-bottom: 1px solid #ebeff6;
}

.suggestions-type {
  margin: 0;
  font-size: 10px;
  color: #cccccc;
}

.suggestions-help-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.suggestions-help-item {
  display: inline-block;
  margin-left: 5px;
  font-size: 9px;
  color: #cccccc;
}

.suggestions-content {
  max-height: 200px;
  padding: 10px;
}

.suggestions-content::-webkit-scrollbar {
  display: block;
}

.suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.suggestions-item {
  padding: 10px 10px;
  cursor: pointer;
}

.suggestions-item.focus {
  color: white;
  border-radius: 2px;
  background: #579ad7;
}

.suggestion-title {
  max-width: 30%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.suggestion-description {
  max-width: 60%;
  font-size: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #848484;
}

.focus .suggestion-description {
  color: white;
}

.live-nav.active a {
  color: #f2f2f2 !important;
  background: #528dc3 !important;
}

.aside-chat-left {
  position: absolute;
  z-index: 4;
  width: 275px;
  border-right: solid 1px rgba(136, 136, 136, .4);
  border-radius: 3px 0 0 3px;
}

.aside-chat-right {
  width: 50px;
  overflow: hidden;
  border-left: solid 1px rgba(136, 136, 136, 0.17);
  border-radius: 3px 3px 0 0;
}

.chat-header {
  background: #6075a4;
}

.chat-message-show {
  -webkit-animation: showFromBottom .3s ease both;
          animation: showFromBottom .3s ease both;
}

.conversation-header {
  background: #eaecf0;
  border-bottom: solid 1px rgba(136, 136, 136, 0.1);
  height: 51px;
}

.header-control {
  display: inline-block;
  padding: 10px 0;
}

.header-control a i {
  font-size: 20px;
  line-height: 30px;
  color: #f9f9f9;
}

.header-control button {
  margin-right: 5px;
  font-size: 12px;
  color: #f9f9f9;
  outline: none;
  background: #565f71;
  box-shadow: 3px 3px 1px -2px #454d5f;
}

.header-control button:hover,
.header-control button:focus {
  color: white;
}

.dropdown-menu li.active a {
  background: transparent !important;
}

.dropdown-menu li.active a:hover {
  background: #f3f5f9 !important;
}

.header .windows .dropdown-menu {
  right: 4px;
  left: auto;
  min-width: 125px;
  margin-top: 5px;
}

.windows .dropdown-menu a,
.status .dropdown-menu a {
  color: #999999;
}

.windows .dropdown-menu a:hover,
.status .dropdown-menu a:hover {
  color: #999999;
  background: #f3f5f9;
}

.status {
  display: inline-block;
  width: 11px;
  height: 11px;
}

.status:before {
  margin: 0;
}

.status-button .icon-stop {
  margin-right: 3px;
  font-size: 11px;
}

.status-button .available {
  color: #31bf7a;
}

.status-button .unavailable {
  color: #ff6455;
}

.header-collapsible {
  height: 40px;
  padding: 0 10px 0 15px;
  cursor: pointer;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
}

.header-collapsible span {
  margin-top: 10px;
  color: #7e7f84;
  background: #e7e9ed;
}

.header-queue {
  position: relative;
  height: 50px;
  padding: 0px 10px 0 15px;
}

.header-queue h5 {
  margin: 0;
  padding-top: 17px;
  font-size: 13.5px;
}

.windows-selector {
  position: absolute;
  top: 10px;
  right: 10px;
}

.windows-selector .dropdown-menu {
  left: -23px;
  min-width: 68px;
}

.windows-selector .btn {
  color: #8c8c8c;
  border: solid 1px rgba(206, 206, 206, .65);
  background: transparent;
}

.header-collapsible h5 {
  display: inline-block;
  margin: 0;
  font-size: 11px;
  font-weight: 900;
  line-height: 40px;
  text-transform: uppercase;
  color: #67686b;
}

.header-current > i {
  font-size: 20px;
  line-height: 38px;
  cursor: pointer;
  color: #67686b;
}

.header-waiting > i {
  font-size: 20px;
  line-height: 38px;
  cursor: pointer;
  color: #67686b;
}

.list-current,
.list-waiting {
  margin: 0;
  padding: 0;
}

.list-record-item {
  position: relative;
  width: 100%;
  height: 55px;
  cursor: pointer;
  border-bottom: 1px solid #f1f0f0;
}

.list-record-item:hover {
  background: #eff1f4;
}

.list-record-item.active {
  background: #f3f5f9;
  box-shadow: -9px 0px 20px -12px rgba(179, 179, 179, .75) inset;
}

.list-record-item:last-child {
  border-bottom: none;
}

.list-record-item .status-full {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 10px;
  height: 30px;
}

.list-record-item .status-half-first {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 10px;
  height: 15px;
}

.list-record-item .status-half-last {
  position: absolute;
  top: 27px;
  left: 10px;
  width: 10px;
  height: 15px;
}

.answered {
  color: #31bf7a;
  background: #31bf7a;
}

.text-answered {
  color: #31bf7a;
}

.unanswered {
  color: #f8ca12;
  background: #f8ca12;
}

.urgent {
  color: #e75c3c;
  background: #e74c3c !important;
}

.text-urgent {
  color: #e74c3c !important;
}

.text-unanswered {
  color: #f8ca12;
}

.sell-opportunity {
  background: #6075a4;
}

.multiple {
  display: inline-block;
  margin: 15px;
  background: #f9fafb;
  overflow: hidden;
  border-radius: 3px;
}

.multiple.selected {
  box-shadow: 0 0 20px 0 rgba(74, 83, 100, 0.4);
}

.half-width {
  max-width: -o-calc(50% - 30px);
  max-width:    calc(50% - 30px);
  height:    calc(100% - 30px);
  height: -o-calc(100% - 30px);
}

.half-height {
  max-height: -o-calc(50% - 30px);
  max-height:    calc(50% - 30px);
}

.full-width {
  max-width: -o-calc(100% - 30px);
  max-width:    calc(100% - 30px);
}

.modal-content {
  border-radius: 3px;
}

.modal-footer {
  margin-top: 0 !important;
  padding: 15px;
  border-top: none;
}

.modal-title {
  font-size: 14px;
}

.modal-transfer,
.modal-close,
.modal-ban,
.modal-unavailable,
.modal-prompt {
  position: fixed;
  top: calc(50% - 100px) !important;
  left: calc(50% - 250px) !important;
  width: 500px;
}

.modal-connection-lost {
  position: absolute;
  top: calc(50% - 50px) !important;
  left: calc(50% - 250px) !important;
  width: 500px;
  color: #b94a48;
  background: #eed3d7;
}

.modal-transfer .list-group-item {
  cursor: pointer;
}

.modal-backdrop.in {
  cursor: pointer;
}

.modal-close-button {
  position: absolute;
  z-index: 10002;
  top: 10px;
  right: 10px;
  font-size: 20px;
  opacity: 1;
  color: #ffffff;
  border: none;
  background: transparent;

  -webkit-appearance: none;
}

.list-record-item .informations {
  display: inline-block;
  width: 150px;
  height: 35px;
  margin-top: 10px;
  margin-left: 30px;
  border-right: 1px solid #efefef;
}

.list-record-item .informations p {
  width: 100%;
  margin: 0;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
     text-overflow: ellipsis;
  color: #787878;

  -o-text-overflow: ellipsis; /* pour Opera 9 */
}

.list-record-item .informations label {
  position: relative;
  top: -4px;
  margin: 0 0 0 -2px;
  font-size: 10px;
  color: #787878;
}

.list-record-item .informations icon {
  margin-right: 3px;
  font-size: 12px;
}

.list-record-item .timer-lastmsg {
  display: inline-block;
  width: 90px;
  font-size: 14px;
  text-align: center;
  vertical-align: 35%;
  color: #999999;
}

.aside-chat-left {
  background: #f9fafc;
}

.conversation-header p {
  width: 100%;
  max-width: -o-calc(100% - 310px);
  max-width:    calc(100% - 310px);
  margin-left: 5px;
}

.conversation-header-control {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 600;
  color: #6e7d83;
}

.conversation-minus {
  float: right;
  margin: 18px 0 0 15px;
  font-size: 18px;
  cursor: pointer;
  color: #6e7d83;
}

.conversation-close:hover,
.ban:hover,
.transfer:hover {
  color: #576064;
}

.conversation-header-control .transfer,
.conversation-header-control .ban,
.conversation-header-control .conversation-close {
  display: inline-block;
  padding: 5px 8px 5px 0px;
  cursor: pointer;
  border: solid 1px rgba(206, 206, 206, 1);
  border-radius: 3px;
}

.conversation-footer {
  padding: 0 15px 10px 15px;
}

.conversation-footer .panel {
  margin: 0;
  border: solid 1px rgba(136, 136, 136, 0.32);
  box-shadow: none;
  border-radius: 3px;
}

.conversation-footer .alert-writing {
  position: absolute;
  top: -25px;
  right: 25px;
  font-size: 12px;
  font-weight: 600;
  color: #747474;
}

.conversation-footer textarea {
  width: 100%;
  height: 85px;
  resize: none;
}

.conversation-section {
  margin-bottom: 110px;
  padding: 15px;
}

.conversation-section-list {
  padding: 0;
}

.conversation-section-list li {
  display: block;
}

.conversation-section-item {
  position: relative;
  margin-bottom: 20px;
}

.conversation-section-item.item-visitor {
  text-align: left;
}
.conversation-section-item.item-operator {
  text-align: right;
}

/* Messages of a different type following each other have a
   larger margin in between */
.item-operator + .item-visitor,
.item-visitor + .item-operator {
  margin-bottom: 20px;
}
.item-visitor + .item-visitor,
.item-operator + .item-operator {
  margin-top: -15px;
}

.conversation-section-item img.img-circle {
  float: right;
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.conversation-section-item div.msg-visitor {
  min-height: 35px;
  padding-left: 15px;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  word-wrap: break-word;
  color: #515151;
  padding: 7px 8px;
  background-color: rgba(206, 206, 206, 0.4);
  border-radius: 5px;
  max-width: 85%;
  display: inline-block;
}

.btn-flag-question {
  position: absolute;
  z-index: 999;
  left: 15px;
  bottom: -10px;
  display: none;
  float: right;
  padding: 5px 10px;
  color: #4c4c4c;
  border: 1px solid #e1e1e4;
  border-radius: 3px;
  outline: none;
  background: #f9fafc;
  box-shadow: 1px 1px 1px #dddddd;
}

.btn-flag-question:hover {
  color: #579ad7;
  background: white;
}

.btn-flag-question:before,
.btn-flag-question:after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 10%;
  width: 0;
  height: 0;
  pointer-events: none;
  border: solid transparent;
}

.btn-flag-question:after {
  margin-left: -4px;
  border-width: 4px;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #f9fafc;
}

.btn-flag-question:before {
  margin-left: -6px;
  border-width: 6px;
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #e1e1e4;
}

.btn-flag-question.sent {
  color: #3cb037;
}

.conversation-section-item:hover .btn-flag-question {
  display: block;
}

.conversation-section-item div.msg-visitor .date {
  font-weight: 300;
  color: #A0A0A0;
  font-size: 9px;
}

.conversation-section-item div.msg-operator {
  min-height: 35px;
  padding-right: 10px;
  font-size: 12px;
  text-align: left;
  padding: 7px 8px;
  background-color: rgba(158, 209, 255, 0.3);
  border-radius: 5px;
  max-width: 85%;
  display: inline-block;
}

.msg-with-avatar {
  margin-right: 30px;
  border-right: 0 !important;
}

.conversation-section-item span {
  display: block;
  font-weight: 300;
  color: #A0A0A0;
  font-size: 9px;
}

.conversation-section .msg-server {
  margin-bottom: 20px;
  padding-bottom: 8px;
  color: #a9abb1;
  border-bottom: 1px dotted #a9abb1;
}

.informations-header {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #EAECF0;
  border-bottom: solid 1px rgba(136, 136, 136, 0.1);
  -webkit-touch-callout: none;
  cursor: pointer;
}

.informations-header h5 {
  display: inline-block;
  margin: 0;
  padding: 18px 0 17px 0;
  font-size: 13.5px;
}

.informations-header .icon-toggle {
  padding: 15px 0 15px 0;
  font-size: 20px;
  cursor: pointer;
}

.informations-section {
  padding: 10px 15px 15px;
}

.search-panel,
.informations-panel {
  position: relative;
  margin-bottom: 0;
  box-shadow: none;
  background: #F3F5F9;
  border-color: transparent;
}

.informations-panel {
  max-height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.informations-panel.scrollable {
  box-shadow: 0 -15px 15px -12px rgba(69, 69, 69, 0.15) inset;
}

.search-panel {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 0;
  border-radius: 0;
}

.wrapper-search {
  height: 280px;
  min-height: 280px;
  max-height: 65%;
}

.search-panel.closed .wrapper-search {
  display: none;
}

.wrapper-search .action-container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  background: #F3F5F9;
}

.wrapper-search .wrapper-answers {
  height: calc(100% - 60px);
  overflow: auto;
  padding: 15px;
  overflow-x: hidden;
}

.search-answer .msg-wrapper {
  padding: 7px 8px;
  border-radius: 5px;
  background-color: #D9EAFB;
}

.msg-wrapper.msg-warning{
  border-left: solid 2px rgba(231, 76, 60, 0.7);
  padding: 0 5px 0 10px;
  background: rgba(255, 255, 255, 0);
  border-radius: 0;
}

.msg-wrapper p {
  margin: 0;
}

.msg-wrapper .btn-copy-msg {
  margin-top: 8px;
  font-size: 10px;
  text-align: right;
}

.btn-copy-msg span {
  display: inline-block;
  padding: 5px 8px 5px 5px;
  cursor: pointer;
  border: solid 1px rgba(182, 182, 182, 1);
  border-radius: 3px;
  color: #757576;
  font-weight: 600;
}

.lily-loading {
  width: 50px;
  text-align: center;
  background: #D9EAFB;
  padding: 5px 3px;
  border-radius: 10px;
}

.lily-loading span {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 2.5px;
  -webkit-animation: loader .75s infinite alternate;
     -moz-animation: loader .75s infinite alternate;
  vertical-align: middle;
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
}
.lily-loading span:nth-of-type(2) {
  -webkit-animation-delay: .25s;
     -moz-animation-delay: .25s;
}
.lily-loading span:nth-of-type(3) {
  -webkit-animation-delay: .5s;
     -moz-animation-delay: .5s;
}
@-webkit-keyframes loader {
  0% {
    width: 7px;
    height: 7px;
    -webkit-transform: translate3d(0, -6px, 0);
    opacity: 1;
  }
  100% {
    width: 8px;
    height: 8px;
    -webkit-transform: translate3d(0, 0, 0);
    opacity: .7;
  }
}

/******************
Typeahead Styles
******************/

.lily-search-input,
.tt-suggestion {
  position: relative;
}

.tt-suggestion,
.empty-suggestion {
  /*padding: 11px 9px;*/
  padding: 10px 15px;
  font-size: 13px;
  line-height: 1.3;
}

.tt-highlight {
  font-size: 13.5px;
  font-weight: 700;
}

.tt-suggestion {
  cursor: pointer;
  color: #494949;
}

.tt-suggestion:hover {
  color: #000000;
  background: rgba(87, 154, 215, 0.3);
}

.tt-suggestion:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: calc(100% - 30px);
  height: 1px;
  margin-right: 15px;
  background: rgba(136, 136, 136, .15);
}

.tt-dataset-questions .tt-suggestion:last-child:after {
  display: none;
}

.empty-suggestion {
  cursor: default;
  color: #a1a1a1;
  border-top: solid 1px #cecece;
  border-bottom: none;
}

.tt-cursor,
.tt-suggestion:active {
  background: #579ad7;
  color: #fff;
}

.twitter-typeahead {
  width: 100%;
}

/* Ugliest thing I ever had to write in css... :'( */
.twitter-typeahead .tt-menu {
  z-index: 100;
  top: auto !important;
  right: -10px;
  bottom: calc(100% + 11px);
  left: -15px!important;
  min-width: 100%;
  overflow: auto;
  overflow-x: hidden;
  text-align: left;
  background: rgba(249, 250, 252, 1);
  border-top: solid 1px #D9D9D9;
}

.action-container {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
}

.search-input-component {
  z-index: 11;
  display: block;
  width: 100%;
  min-height: 30px;
  margin: 0;
  margin-bottom: 0;
  padding: 0;
}

.search-input:focus {
  border: solid 1px rgba(87, 154, 215, 0.6);
}

.wrapper-input {
  position: relative;
  height: 100%;
  padding: 10px;
  border-top: solid 1px rgba(136, 136, 136, .16);
  border-radius: 0;
}

.textarea-input {
  position: relative;
  z-index: 3;
  display: block;
  width: 100%;
  min-height: 36px;
  max-height: 64px;
  padding: 6px;
  line-height: 1;
  overflow: auto;
  overflow-x: hidden;
  vertical-align: bottom;
  color: #333333;
  border: 1px solid rgba(181, 181, 181, 0.53);
  border-radius: 2px;
  outline: none;
  background-color: #fff;
  -webkit-appearance: none;;
}

.textarea-input:-moz-placeholder {
  color: #888888;
}
.textarea-input::-moz-placeholder {
  color: #888888;
}
.textarea-input:ms-input-placeholder {
  color: #888888;
}
.textarea-input::-webkit-input-placeholder {
  color: #888888;
}

/************************/

.informations-section p {
  overflow: hidden;
     text-overflow: ellipsis;
  margin-bottom: 5px;
}

.informations-personal {
  padding-bottom: 3px;
  margin-bottom: 15px;
  border-bottom: solid 1px rgba(136, 136, 136, 0.24);
}

.name-form-control {
  width: 100%;
  font-weight: 600;
  overflow: hidden;
     text-overflow: ellipsis;
  color: #6e7d83;
  border: none;
  outline: none;
  background: transparent;

  -o-text-overflow: ellipsis; /* pour Opera 9 */
}

.informations-form-control {
  color: #787878;
  border: none;
  outline: none;
  background: transparent;
}

.informations-form-control:focus {
  border-bottom: 1px solid #579ad7;
}

.informations-list {
  padding-left: 0;
  list-style-type: none;
}

.informations-list-header {
  margin: 10px auto 5px;
  font-size: 12px;
  color: #717171;
  font-weight: bold;
}

.informations-item a {
  display: inline-block;
  max-width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  color: #949494;
}

.informations-item a:hover {
  text-decoration: underline;
}

.icon-gear.active,
.icon-bar-chart.active,
.icon-comments-alt.active {
  color: #fcc44d;
}

.header-control i.disable {
  cursor: default;
}

/* Need to specify with all the way down to the textarea 
 * for wywihtml5 to set the proper width */
.conversation-form,
.conversation-form .panel,
.conversation-form .panel form,
.conversation-form .panel form textarea {
  width: 100%;
}

.wysihtml5-toolbar {
  display: inline-block;
  width: 100%;
  max-width: 700px;
  margin-right: 5px;
}

.wysihtml5-toolbar a {
  display: inline-block;
}

.wysihtml5-sandbox {
  width: 100%;
  max-width: 100%;
}

.createLink {
  position: absolute;
  bottom: 31px;
  margin-right: 70px;
}

.dropdown-select .disabled {
  color: #cbcbcb;
}

.transfer-validation {
  text-align: right;
}

.validate-title {
  line-height: 30px;
}

@media (max-width: 767px) {
  .aside-chat-left {
    width: 100%;
  }

  .list-record-item .informations {
    width: 100%;
    max-width: -o-calc(100% - 130px);
    max-width:    calc(100% - 130px);
  }

  .modal-close,
  .modal-ban,
  .modal-transfer {
    position: absolute;
    z-index: 9999;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  body.modal-open,
  .modal-open .navbar-fixed-top,
  .modal-open .navbar-fixed-bottom {
    margin-right: 0;
  }

  .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }

  .modal-footer {
    position: absolute;
    bottom: 0;
  }
}
