<section class="vbox"> 
  <header class="header bg-light bg-gradient">
    <ul class="nav nav-tabs nav-white">
      <li class="active"><a href="#statistics" data-toggle="tab">Statistiques</a></li>
      <li class=""><a href="#chats" data-toggle="tab">Conversations</a></li>
      <li class=""><a href="#logs" data-toggle="tab">Activités</a></li>
    </ul>
  </header>
  <section class="tab-content">
    <section class="tab-pane vbox active" id="statistics">
    <!-- Statistics -->
    </section>
    <section class="tab-pane vbox strech" id="chats">
    <!-- Chats -->
    </section>
    <section class="tab-pane vbox stretch" id="logs">
    <!-- Logs -->
    </section>

    <i class="icon-spinner icon-spin icon-large"></i>
      
  </section>
</section>