<div class="vbox"> 
  <header class="header bg-light bg-gradient">
    <ul class="nav nav-tabs nav-white">
      <li class="active"><a href="#statistics" data-toggle="tab">Statistiques</a></li>
      <li class=""><a href="#chats" data-toggle="tab">Conversations</a></li>
      <li class=""><a href="#logs" data-toggle="tab">Activités</a></li>
    </ul>
  </header>
  <section class="scrollable">
    <div class="tab-content hbox stretch">
      <div class="tab-pane active" id="statistics">
      <!-- Statistics -->
      </div>
      <div class="tab-pane vbox" id="chats">
      <!-- Chats -->
      </div>
      <div class="tab-pane vbox" id="logs">
      <!-- Logs -->
      </div>
      <div class="text-center wrapper">
        <i class="icon-spinner icon-spin icon-large"></i>
      </div>
    </div>
  </section>
</div>