<div class="js-shell-alert">
  <!--
    Here we show alert triggered by our shell
  -->
</div>

<div class="panel">
  <div class="js-suggestions-container suggestions">
    <!--
      Here we show our commands suggestions on typing
    -->
  </div>
  
  <div class="editor scrollable"></div>
  
  <footer class="panel-footer bg-light lter clearfix">
    <button class="btn btn-primary pull-right btn-sm execute">ENVOYER</button>
    <ul class="toolbar nav nav-pills nav-sm">
      <li>
        <button class="btn btn-sm btn-toolbar" data-command-name="bold">
          <i class="icon-bold"></i>
        </button>
      </li>
    </ul>
  </footer>
</div>