<div class="editor scrollable"></div>

<footer class="panel-footer bg-light lter clearfix">
  <button class="btn btn-primary pull-right btn-sm execute">ENVOYER</button>
  <ul class="toolbar nav nav-pills nav-sm">
    <li>
      <button class="btn btn-sm btn-toolbar" data-command-name="bold">
        <i class="icon-bold"></i>
      </button>
    </li>
    <li>
      <button class="btn btn-sm btn-toolbar" data-command-name="italic">
        <i class="icon-italic"></i>
      </button>
    </li>
    <li>
      <button class="btn btn-sm btn-toolbar" data-command-name="h5">
        <i class="icon-font"></i>
      </button>
    </li>
    <li>
      <button class="btn btn-sm btn-toolbar" data-command-name="insertOrderedList">
        <i class="icon-list-ol"></i>
      </button>
    </li>
    <li>
      <button class="btn btn-sm btn-toolbar" data-command-name="insertUnorderedList">
        <i class="icon-list-ul"></i>
      </button>
    </li>
  </ul>
</footer>