  <!-- CHAT -->
  <section class="tab-pane" id="chat">
  	<h5>Conversations</h5>
	<div class="row">
      <label class="switch">
        <input name="autoSetOperator" type="checkbox" <% if (chat.autoSetOperator) { %> checked <% } %> >
        <span></span>
      </label>
      <p>Attribuer automatiquement un opérateur s'il est disponible</p>
	</div>
	
    <p class="administration-p">Limiter le nombre de conversations à</p>
	<input name="max" type="text" class="form-control chatMax" value="<%= chat.max %>">
	<p class="administration-p">par opérateur disponible</p>
	
    <h5>File d'attente</h5>
	<div class="row">
      <label class="switch">
        <input name="queue" type="checkbox" <% if (chat.queue) { %> checked <% } %> >
        <span></span>
      </label>
      <p>Activer la file d'attente</p>
	</div>
	<div>
      <p class="administration-p">Limiter la file d'attente à</p>
      <input name="maxQueue" type="text" class="form-control chatMaxQueue" value="<%= chat.maxQueue %>">
      <p class="administration-p">places par conseiller en production</p>
	</div>
	
	<h5>Ecran d'accueil</h5>
	<div class="row">
      <label class="switch">
        <input name="contactForm" type="checkbox" <% if (chat.contactForm) { %> checked <% } %> >
        <span></span>
      </label>
      <p>Activer un écran d'accueil invitant l'utilisateur à renseigner ses informations personnelles</p>
	</div>
	
	<p class="administration-p">Message d'accueil :</p>
	<div class="col-sm-12">
      <div id="editor" name="contactFormMsg" class="form-control" style="overflow:scroll;height:50px;max-height:150px;" contenteditable="true"><%= chat.contactFormMsg %></div>
    </div>
	<p class="administration-p">Afficher sur l'écran d'accueil :</p>
    <div class="row">
	  <div class="return">
        <label class="switch">
          <input name="contactLastNameField" type="checkbox" <% if (chat.contactLastNameField) { %> checked <% } %> >
          <span></span>
            </label>
            <p>Un champ nom</p>
        </div>
        <div class="return">
          <label class="switch">
            <input name="contactFirstNameField" type="checkbox" <% if (chat.contactFirstNameField) { %> checked <% } %> >
            <span></span>
          </label>
          <p>Un champ prénom</p>
        </div>
        <div class="return">
          <label class="switch">
            <input name="contactEmailField" type="checkbox" <% if (chat.contactEmailField) { %> checked <% } %>>
            <span></span>
          </label>
          <p>Un champ email</p>
        </div>
    </div>
    <div class="row">
      <label class="switch">
        <input name="contactFormAvoidable" type="checkbox" <% if (chat.contactFormAvoidable) { %> checked <% } %> >
        <span></span>
      </label>
      <p>Autoriser le visiteur à ne pas renseigner ces informations</p>
	</div>
  </section>              