
  <header class="header bg-dark bg-gradient">
    <a id="save" href="#" class="btn btn-success pull-right">Sauvegarder</a>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#overall" data-toggle="tab">Globaux</a></li>
      <!-- show if client.avi is enabled -->
      {% if app.user.client.config.avi %}
      <li class=""><a href="#avatar" data-toggle="tab">Avatar</a></li>
      {% endif %}
      <!-- show if client.chat is enabled -->
      {% if app.user.client.config.chat %}
      <li class=""><a href="#chat" data-toggle="tab">Live chat</a></li>
	  {% endif %}
    </ul>
  </header>     
  <section class="scrollable wrapper">
    <div class="tab-content">
    
      <!-- OVERALL -->
      <section class="tab-pane active" id="overall">          
        <h5>Fonctionnalités</h5>
        <div class="row">
          <label class="switch">
            <input name="maintenance" type="checkbox" <% if (!maintenance) { %> checked <% } %> >
              <span></span>
          </label>
          <p>Afficher l'iframe</p>
        </div>
        
        <!-- show if client.chat is enabled -->
        {% if app.user.client.config.chat and app.user.client.config.avi %}
        <p class="administration-p">Choisissez votre canal de communication par défaut :</p>
        <div class="row">
        	<p>Avatar virtuel</p>
        	<label class="switch no-color">
            	<input name="home" type="checkbox" <% if (home == 'chat') { %> checked <% } %>>
            	<span></span>
            </label>
            <p>Live chat</p>
        </div>
        {% endif %}
        
        <!-- show if client.chat && client.avi is enabled -->
        {% if app.user.client.config.chat and app.user.client.config.avi %}
        <div class="checkbox">
          <label class="checkbox-custom">
            <input type="checkbox" name="aviIfNoOperator" <% if (avi.aviIfNoOperator) { %> checked <% } %> >
            <i class="icon-unchecked"></i>
            Proposer directement l'AVI si aucun conseiller n'est disponible
          </label>
        </div>
        {% endif %}
        
        <h5 class="m-t-xlg">Activer / Désactiver un service</h5>
        <div class="row">
        	
        	<!-- show if client.chat is enabled -->
        	{% if app.user.client.config.chat %}
        	<div class="return">
            	<label class="switch">
                	<input type="checkbox" name="chat" <% if (chat.active) { %> checked <% } %>>
                	<span></span>
                </label>
                <p>Live chat</p>
            </div>
            {% endif %}
            
            <!-- show if client.faq is enabled -->
            {% if app.user.client.config.faq %}
            <div class="return">
                <label class="switch">
                	<input type="checkbox" name="faq" <% if (faq) { %> checked <% } %>>
                	<span></span>
                </label>
                <p>FAQ dynamique</p>
            </div>
            {% endif %}
            
            <!-- show if client.topQuestions is enabled -->
            {% if app.user.client.config.topquestions %}
            <div class="return">
                <label class="switch">
                	<input type="checkbox" name="topquestions" <% if (topquestions) { %> checked <% } %>>
                	<span></span>
                </label>
                <p>Top des questions</p>
            </div>
			{% endif %}
			
			<div class="return">
                <label class="switch">
                	<input name="redirectionMail" type="checkbox" <% if (redirection.mail) { %> checked <% } %> >
                	<span></span>
                </label>
                <p>Redirection par Mail</p>
            </div>
			<div class="return">
            	<label class="switch">
                	<input name="redirectionPhone" type="checkbox" <% if (redirection.phone) { %> checked <% } %> >
                	<span></span>
                </label>
                <p>Redirection par Téléphone</p>
            </div>
			
        </div>
      </section>
      
      <!-- AVATAR -->
      <section class="tab-pane" id="avatar">
        <h5>Message d'accueil</h5>
        <div class="col-sm-12">
          <div id="editor" name="aviWelcomeMsg" class="form-control" style="overflow:scroll;height:50px;max-height:150px;" contenteditable="true"><%= avi.welcomeMsg %></div>
        </div>
        <h5 class="m-t-lg">Animations</h5>
        <div class="row">
            <label class="switch">
            	<input name="aviAnimations" type="checkbox" <% if (avi.animations) { %> checked <% } %> >
            	<span></span>
            </label>
            <p>Activer les animations</p>
    	</div>
      </section>
      
      <!-- CHAT -->
      <section class="tab-pane" id="chat">
      	<h5>Conversations</h5>
		<div class="row">
            <label class="switch">
            	<input name="autoSetOperator" type="checkbox" <% if (chat.autoSetOperator) { %> checked <% } %> >
            	<span></span>
            </label>
            <p>Attribuer automatiquement un opérateur s'il est disponible</p>
    	</div>
    	
	    <p class="administration-p">Limiter le nombre de conversations à</p>
    	<input name="max" type="text" class="form-control chatMax" value="<%= chat.max %>">
    	<p class="administration-p">par opérateur disponible</p>
    	
        <h5>File d'attente</h5>
		<div class="row">
            <label class="switch">
            	<input name="queue" type="checkbox" <% if (chat.queue) { %> checked <% } %> >
            	<span></span>
            </label>
            <p>Activer la file d'attente</p>
    	</div>
    	<div>
        	<p class="administration-p">Limiter la file d'attente à</p>
        	<input name="maxQueue" type="text" class="form-control chatMaxQueue" value="<%= chat.maxQueue %>">
        	<p class="administration-p">places par conseiller en production</p>
    	</div>
    	
    	<h5>Ecran d'accueil</h5>
		<div class="row">
            <label class="switch">
            	<input name="contactForm" type="checkbox" <% if (chat.contactForm) { %> checked <% } %> >
            	<span></span>
            </label>
            <p>Activer un écran d'accueil invitant l'utilisateur à renseigner ses informations personnelles</p>
    	</div>
    	<p class="administration-p">Message d'accueil :</p>
    	<div class="col-sm-12">
          <div id="editor" name="contactFormMsg" class="form-control" style="overflow:scroll;height:50px;max-height:150px;" contenteditable="true"><%= chat.contactFormMsg %></div>
        </div>
    	<p class="administration-p">Afficher sur l'écran d'accueil :</p>
        <div class="row">
        	<div class="return">
            	<label class="switch">
                	<input name="contactLastNameField" type="checkbox" <% if (chat.contactLastNameField) { %> checked <% } %> >
                	<span></span>
                </label>
                <p>Un champ nom</p>
            </div>
            <div class="return">
                <label class="switch">
                	<input name="contactFirstNameField" type="checkbox" <% if (chat.contactFirstNameField) { %> checked <% } %> >
                	<span></span>
                </label>
                <p>Un champ prénom</p>
            </div>
            <div class="return">
                <label class="switch">
                	<input name="contactEmailField" type="checkbox" <% if (chat.contactEmailField) { %> checked <% } %>>
                	<span></span>
                </label>
                <p>Un champ email</p>
            </div>
        </div>
        <div class="row">
            <label class="switch">
            	<input name="contactFormAvoidable" type="checkbox" <% if (chat.contactFormAvoidable) { %> checked <% } %> >
            	<span></span>
            </label>
            <p>Autoriser le visiteur à ne pas renseigner ces informations</p>
    	</div>
      </section>
    </div>
  </section>               