<a href="#" data="notification" class="media list-group-item">
  <span class="media-body block m-b-none">
    <%= title %>
    <span class="conversation-name"><%= name %></span>
    <br>
    <small class="text-muted"><%= msg %></small>
  </span>
</a>
