<a href="#" class="dropdown-toggle dk" data-toggle="dropdown">
  <i class="icon-bell-alt text-white"></i>
  <span class="badge up bg-danger m-l-n-sm"><%= count %></span>
</a>
<section class="dropdown-menu animated fadeInUp input-s-lg">
  <section class="panel bg-white">
    <header class="panel-heading">
      <strong class="count-n"><%= countTitle %></strong>
    </header>
    <div class="list-group js-notifications-list">
      <!-- Here go the notifications -->
    </div>
    <!-- <footer class="panel-footer text-sm">
      <a href="#" class="pull-right"><i class="icon-cog"></i></a>
      <a href="#">notifications.seeAllMessage</a>
    </footer> -->
  </section>
</section>
