<!-- Modal -->
<div class="modal-remove"
     tabindex='-1'
     role='dialog'
     aria-labelledby='close',
     aria-hidden='true'>
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
      </button>
      <h4 class="modal-title" id="close"><%=title %></h4>
    </div>
    <div class="modal-body">
      <%=body %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">
        Annuler
      </button>
      <button type="button" class="btn btn-primary js-modal-action" data-dismiss="modal">
        <%=action %>
      </button>
    </div>
  </div>
</div>