
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 5px;
  background: #929292;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: none;
}

::-webkit-scrollbar-thumb:hover {
  width: 8px;
  background: #6a6a6a;
}

::-webkit-scrollbar-thumb:active {
  width: 8px;
  background: #6a6a6a;
}
