
	<section class="scrollable">
		<div class="wrapper">
			<div class="clearfix m-b">
				<div class="clear">
					<ul class="conversation-section-list">
  					
						<% _.each(messages, function(item) { %>
						
							<li class="conversation-section-item">
							
								<% switch(item.from) { 
									case 'server':
									
										switch(item.action) {
											case 'startChat': %>
											
												<p class="msg-server">Conversation commencée le 
  												<%= moment(item.date*1000).format('DD MMMM') %> à 
  												<%= moment(item.date*1000).format('HH:mm') %>
  										  </p>
                        <% break;
                        
											case 'transfered': %>
												<p class="msg-server">Conversation transférée le 
                          <%= moment(item.date*1000).format('DD MMMM') %> à 
                          <%= moment(item.date*1000).format('HH:mm') %>
                        </p>
                        <% break;
                        
										}
										break;
										
									case 'operator': %>					
										<p class="msg-operator">
  										<%= item.msg %>
  										<span class="date">
  										  <%= moment(item.date*1000).format('HH:mm') %>
  										</span>
  								  </p>
  								  <% break;
										
									case 'visitor': %>
										<p class="msg-visitor">
  										<%= item.msg %>
                      <span class="date">
                        <%= moment(item.date*1000).format('HH:mm')%>
                      </span>
                    </p>
                    <% break;
									
								} %>
							</li>
							
						<% }); %>
						
					</ul>
				</div>
			</div>
		</div>
	</section>