
	<section class="scrollable wrapper">
		<ul class="conversation-section-list">

			<% _.each(messages, function(item) {

					switch(item.from) {
						case 'server': %>

						  <li class="conversation-section-item">

							<% switch(item.action) {
								case 'startChat': %>

									<p class="msg-server">Conversation commencée le
										<%= moment(item.date*1000).format('DD MMMM') %> à
										<%= moment(item.date*1000).format('HH:mm') %>
								  </p>
                  <% break;

								case 'transfer': %>
									<p class="msg-server">Conversation transférée le
                    <%= moment(item.date*1000).format('DD MMMM') %> à
                    <%= moment(item.date*1000).format('HH:mm') %> par
                    <%= item.transfer_from.firstname %> <%= item.transfer_from.lastname || '' %>
                  </p>
                  <% break; %>

                </li>

							<% }
							break;

						case 'operator': %>
						  <li class="conversation-section-item item-operator">
  							<div class="msg-operator">
  								<%= item.msg %>
  								<span class="date">
  								  <%= moment(item.date*1000).format('HH:mm') %>
  								</span>
  						  </div>
  						</li>
						  <% break;

						case 'visitor': %>
						  <li class="conversation-section-item item-visitor">
  							<div class="msg-visitor">
  								<%= item.msg %>
                  <span class="date">
                    <%= moment(item.date*1000).format('HH:mm')%>
                  </span>
                </div>
              </div>
              <% break;

					} %>
				</li>

			<% }); %>

		</ul>
	</section>
