<header class="header bg-dark lter bg-gradient">

  <ul class="nav nav-tabs">
    <li class="dashboard-nav"><a href="#dashboard">Dashboard</a></li>
    <li class="live-nav"><a href="#live">Discussions<b class="badge bg-warning pull-right hide">0</b></a></li>
  </ul>
  
</header>
<section class="js-main-container bg-light">
  <!--
    Here Goes The Dashboard
  -->  	  
</section>
