<% function prettifyUrl(url) {

} %>

<header class="header informations-header">
  <h5 class="hide">INFORMATIONS</h5>
  <icon class="icon-angle-right pull-right hide"></icon>
  <icon class="icon-angle-left pull-right"></icon>
</header>

<div class="informations-panel">

  <div class="wrapper-infos scrollable">
    <div class="informations-section">
      <!--
          user informations
      -->
      <div class="informations-personal">
        <p>
          <b>Nom :</b>
          <input class="informations-form-control" name="lastname" value="<% if (lastname !== null) { %><%= lastname %> <% } else { %> Inconnu <% } %>">
        </p>
        <p>
          <b>Prenom :</b>
          <input class="informations-form-control" name="firstname" value="<% if (firstname !== null) { %><%= firstname %> <% } else { %> Inconnu <% } %>">
        </p>
        <p>
          <b>Email :</b>
          <input class="informations-form-control" name="email" value="<% if (email !== null) { %><%= email %> <% } else { %> Inconnu <% } %>">
        </p>
      </div>

      <% if (questions.length) { %>
      <h6 class="informations-list-header">Dernières questions posées à l'avatar :</h6>

        <ul class="last-avi-questions informations-list">
      	  <% _.each(questions, function(question, index) {
              if (index > questions.length - 4) {
            %>
          <li class="avi-question"><%= question %></li>
          <% } }); %>
        </ul>
      <% } %>

      <h6 class="informations-list-header">Page en cours :</h6>
      <ul class="informations-list">
      	<li class="informations-item">
      	  <a href="<%= _.first(pages).href %>" target="_blank" title="<%= _.first(pages).pathname %>"><%= prettifyUrl(_.first(pages).href) %></a>
        </li>
      </ul>

      <h6 class="informations-list-header">Dernières pages vues :</h6>
        <ul class="informations-list">
          <% _.each(pages, function(page, index) {
            if (index > pages.length - 4) {
          %>
      	  <li class="informations-item">
      	    <a href="<%= page.href %>" target="_blank" title="<%= page.pathname %>"><%= prettifyUrl(page.href) %></a>
          </li>
          <% } }); %>
        </ul>

    </div>
  </div>
</div>

<div class="search-panel">
  <div class="header-search header-collapsible">
    <h5>BASE DE CONNAISSANCE</h5>
  </div>

  <!-- Here go the search view -->
</div>
