<div class="chat-overlay fade"></div>

<div class="chat-wrapper">

  <aside class="conversations-list">
    <header class="header-queue">
      <h5>CONVERSATIONS</h5>
    </header>
  
    <div class="scrollable">
      <div class="header-current" data-toggle="collapse" data-target=".list-current">
        <h5>EN COURS</h5>
        <span class="badge bg-default pull-right">0</span>
      </div>
      <ul class="list-current collapse in">
      <!--
          Current visitor record view
      -->
	    </ul>
      <div class="header-waiting" data-toggle="collapse" data-target=".list-waiting">
        <h5>EN ATTENTE</h5>
        <span class="badge bg-default pull-right">0</span>
      </div>
      <ul class="list-waiting">
      <!--
          Waiting visitor record view
      -->
      </ul>
    </div>
  </aside>

  <aside class="conversations-container">
    <section class="conversations show-conversation-list">
    <!--
        Conversations view
    -->
    </section>
  </aside>
  <!-- 
      user informations 
  -->
</div>
