<div class="vbox">

  <section class="scrollable">
    <div class="wrapper">
      <div class="clearfix m-b">

        <div class="clear">
          <div class="h5 m-t-xs m-b-xs">Commande d'appel</div>
          <div class="form-group m-t-xs">
            <input name="title" type="text" class="form-control input-sm" value="<%=title %>">
          </div>
        </div>

        <div class="clear m-t-sm">
          <div class="h5 m-t-xs m-b-xs">Description</div>
          <div class="form-group m-t-xs">
            <input name="description" type="text" class="form-control input-sm" value="<%=description %>">
          </div>
        </div>

        <div class="clear m-t-sm">
          <div class="h5 m-t-xs m-b-xs">Message</div>
          <div class="form-group m-t-xs">
            <input name="message" class="form-control input-sm" value="<%=message %>">
          </div>
        </div>

      </div>
    </div>
  </section>

  <footer class="dk footer text-center">
    <button class="btn btn-sm btn-success button-update">Sauvegarder</button>
    <button class="btn btn-sm btn-danger button-cancel m-l">Annuler</button>
  </footer>

</div>
