<aside class="bg-white">
  <section class="vbox">
    <section class="scrollable">

      <header class="bg-white wrapper-sm clearfix b-b">
        <div class="col-sm-4 col-xs-3">
         <h5>Commande d'appel</h5>
        </div>

        <div class="col-sm-7 col-xs-9">
          <h5>Description</h5>
        </div>

        <div class="col-xs-1">
          <span></span>
          <!-- Empty colon to make space for delete button-->
        </div>
      </header>

      <ul class="js-shortcuts-list list-group no-borders no-radius m-b-none list-group-alt list-group-lg">
        <!-- Affichage de la liste des shortcuts -->
      </ul>

      <a class="new-shortcut btn btn-sm btn-primary pull-right">
        <span class="icon-plus"></span>
        Ajouter un message
      </a>

    </section>
  </section>
</aside>