<header class="panel-heading font-bold">Taux d'utilisation de l'application
  <div id="reportrange" class="pull-right">
    <i class="icon-calendar"></i>
    <span></span><b class="caret"></b>
  </div>
</header>
<div class="panel-body">
<!-- loader -->
  <div class="loader"><i class="icon-spinner icon-spin icon-2x"></i></div>	
  <div id="graph-usage" style="height: 250px;"></div>
</div>