<!--<ul class="list-group no-radius m-b-none b-b list-group-alt pull-out-md">-->
    <!--<li class="list-group-item wrapper-sm active liste-version "> -->
        <a href="#" class="clear row liste-version">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
              {% verbatim %}  
                <small><%=title%></small> 
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
           
                <small><%=data.reponse%></small>
              
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                <small><%=logged_at%></small> 
            </div>
        </a>
   <!-- </li>-->
<!--</ul>  -->
 {% endverbatim%} 
<!--<div id="contenant-detail-version">
            </div>                     -->