
    <span class="pull-right img-circle">
      <img src="<%= operator.avatar %>" alt="avatar" class="avatar-thumb">
    </span>
    <div class="msg-operator msg-with-avatar">
      <%= msg %>
      <div class="date"><%= moment(date*1000).format('HH:mm') %></div>
    </div>

