<!--Template for question in the list of version -->
{% verbatim %}  
	<div class="wrapper-right-question">
		<div class="top-line-question question-show">
			<span class="title-version-item"><%=title %></span>
			<span class="answer-version-item"><%=data.answer%></span>
		</div>
	    <div class="bottom-line-question question-show question-show-position">
			<%if((typeof(data.category)!='undefined')&&(data.category!==null)){%>
			<%if((data.color=='fee8a4')||(data.color=='fff32e')||(data.color=='d0ff2e')||(data.color=='66fff6')||(data.color=='fe9df6')){%>
			<div class=" category-version-label pull-left" style="background-color:#<%=data.category.color%>;color:black">
				<%=data.category.title%>
			</div>            
			<%}else {%>
				<div class=" category-version-label pull-left" style="background-color:#<%=data.category.color%>;color:white">
					<%=data.category.title%>
				</div>  
			<%}%>
			
			
			
			<%}%>
			<div>  
				Modifié le <%=$.format.toBrowserTimeZone(logged_at,'dd/MM/yyyy')%> par <%=username%>
			</div>
		</div>		
	</div>
{% endverbatim %} 

