<header class="header conversation-header">
  <i class="status icon-stop"></i>
  <p>
    <input class="name-form-control" name="name" value="<%= name %>">
  </p>
  <i class="icon-minus conversation-minus"></i>
  <div class="conversation-header-control pull-right">
    <span class="transfer">
      <i class="icon-share m-l-xs"></i>
      Transférer
    </span>
    <span class="ban">
      <i class="icon-ban-circle m-l-xs"></i>
      Bannir
    </span>
    <span class="conversation-close">
      <i class="icon-remove m-l-xs"></i>
      Fermer
    </span>
  </div>
</header>
<section class="conversation-section scrollable">
  <ul class="conversation-section-list">
  <!-- 
      user messages view 
  -->
  </ul>
</section>
<footer id="footer<%= id %>" class="conversation-footer footer ">
  <span class="alert-writing animated fadeIn">
    <i class="icon-pencil m-r-xs"></i>
    Votre interlocuteur est en train d'écrire
  </span>
  <div class="js-conversation-shell">
  <!--
      shell commands view
  -->
  </div>
</footer>
