/*******************************
Left side menu
********************************/
/*************************************
Meter panel
***************************************/
#nombre-questions{
background:#f9fafc;
margin-bottom:-10px;
}

/*Header block "answered", "unanswered"*/
ul#nombre-questions .block-answered .title-block-meter a, ul#nombre-questions .block-unanswered .title-block-meter a ,ul#nombre-questions .block-answered .title-block-meter a:hover, ul#nombre-questions .block-unanswered .title-block-meter a:hover{
color:#a0a8b8;
background:#f9fafc;
}
ul#nombre-questions .block-answered .title-block-meter.active a, ul#nombre-questions .block-unanswered .title-block-meter.active a ,ul#nombre-questions .block-answered .title-block-meter.active a:hover, ul#nombre-questions .block-unanswered .title-block-meter.active a:hover{
color:#404040;
}
/*header of block unanswered*/
.block-unanswered .meter-question{
padding-top:10px;

}

/*Wrapper of item sub-menu*/
ul#nombre-questions .block-answered  ul  li, ul#nombre-questions .block-unanswered  ul  li{
margin-left:0;
margin-top:0;}
/*Special case for the link "synonyms" cause only one item, no collapsed menu*/
ul#nombre-questions .meter-synonyms a{
background:#4c5567;

}
ul#nombre-questions .meter-synonyms a:hover {
background:#4c5566  ;
}
ul#nombre-questions .meter-synonyms.active a{
color:white;
}
/*Link of the sub-menu item*/
ul#nombre-questions .block-answered  a:hover,ul#nombre-questions .block-answered a,ul#nombre-questions .block-unanswered  a:hover,ul#nombre-questions .block-unanswered a{
background:transparent;
color: #a7aebd ;
}
#nombre-questions .block-unanswered .sub-meter.active a,  #nombre-questions .block-answered .sub-meter.active a{
color:#404040;
}
#questions-nav .sub-meter a{
padding-left:50px;
}
/*item sub menu unanswered*/
#nombre-questions #wrapper-unanswered a.meter-unanswered-questions  {
padding-top:3px;
}
#nombre-questions #wrapper-unanswered ul .sub-meter {

}




/**********************************************
A TRIER
**********************************************/
ul#conteneur-liste-categories>li{
background:#eaecf0;
color:#7d7d7e;
/*height:80%;*/
}
ul#conteneur-liste-categories a,ul#conteneur-liste-categories a:hover,ul#conteneur-liste-categories a:active {
color:#7d7d7e;
padding-left:15px;
}
ul#nombre-questions .icon-list-collapsed  i {
color:#a6aebd;
}
ul#list-categories>li.liste-categorie:hover{
background:#f9fafc;
}
.button-categories{
background:#4c5566;
border-radius:2px;
width:95px;
padding:0;
border:0;
height:30px;
color:white;}
button.hide-categories{
margin-left:15px;
}
button.display-categories{
margin-left:6px;
}


@media (max-width:767px){
#wrapper-categories{
display:none;
}
}


/******************************************
Menu Categories
********************************************/
aside.left-side-menu{
/*overflow-x:scroll;*/
height:100%;
background:#f9fafc;}
.content-left-side-menu>section>section{
height:100%;
}
@media (max-width:767px){
.left-side-menu{
width:100%;
display:block;
}
.left-side-menu>section{
width:100%;

}
}
#questions-nav{
height:100%;
}
