<div class="view" data-id="<%=id%>">
  <button class="destroy close hover-action">×</button>
  <div class="userList-item">
    <img src="<%=avatar %>" alt="Avatar" width="110" height="110"/>
    <div class="user-info"><%=lastName %> <%=firstName %></div>
  </div>
</div>