  <section class="bg-light lter">
    <section class="hbox stretch">          
      <!-- .aside -->
      <aside>
        <section class="vbox">
          <section class="scrollable" id="userManagementContent">
          <div id="userOverview">
            <img src="<%=listUser._byId[userId].get('avatar') %>" alt="avatar"  width="80" height="80"/>
            <%=listUser._byId[userId].get('lastname').toUpperCase() %> <%=listUser._byId[userId].get('firstname') %><br/>
           {#}
            <%=listUser._byId[userId].get('roles') %>
            <%=listUser._byId[userId].get('services') %><br />
            Dernière connexion le <%=listUser._byId[userId].get('last_login') %>{#}
            <%=listUser._byId[userId].get('phone') %><br />
            <%=listUser._byId[userId].get('email') %>
          </div>
          <div class="wrapper">
            <header class="bg-light">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Live chat</a></li>
                <li class=""><a href="#tab2" data-toggle="tab">Base de connaissances</a></li>
              </ul>
            </header>
            <div class="tab-content">
              <div class="tab-pane active" id="tab1">
                  <div class="panel-body" id="graph-stats">
                    <div id="chart-userStat" style="height:250px"></div>
                  </div>
                  <ul id="stats-user">
                    {% spaceless %}
                      <li id="stat1" class="stat-user firstLine">
                        <div class="stat-value"><%= nombreConversationHeure %></div>
                        <div class="stat-legend">Nombre de conversations/heure</div>
                      </li>
                      <li id="stat2" class="stat-user firstLine">
                        <div class="stat-value"><%= tempsMoyenConversation %></div>
                        <div class="stat-legend">Temps moyen/conversation</div>
                      </li>
                      <li id="stat3" class="stat-user firstLine">
                        <div class="stat-value lastOfLine"><%= tempsAttenteMoyen %></div>
                        <div class="stat-legend">Temps d'attente moyen</div>
                      </li>
                      <li id="stat4" class="stat-user">
                        <div class="stat-value"><%= indiceSatisfaction %></div>
                        <div class="stat-legend">Indice de satisfaction</div>
                      </li>
                      <li id="stat5" class="stat-user">
                        <div class="stat-value"><%= tempsMoyenInactivite %></div>
                        <div class="stat-legend">Temps moyen d'inactivité/jour</div>
                      </li>
                      <li id="stat6" class="stat-user">
                        <div class="stat-value lastOfLine"><%= nombeQuestionsRemontees %></div>
                        <div class="stat-legend">Nombre de questions remontées</div>
                      </li>
                    {% endspaceless %}
                  </ul>
              </div>
              <div class="tab-pane" id="tab2">
                
              </div>
            </div>
          </section>
        </section>
      </aside>
      <!-- /.aside -->
      <aside id="user-detail" class="aside-userManagement bg-light lter b-l hide"></aside>
      <!-- Affichage du panneau de modification-->
    </section>
  </section>