<div class="view" data-id="<%=id%>">
  <button class="destroy close hover-action">×</button>
  <div class="userList-item">
    <img src="<%=avatar %>" alt="Avatar" />
    <span class="user-name"><%=username %></span>
  </div>
</div>