<% duration = moment(end).subtract(moment(start)) %>

<div class="view" <% if(typeof(id)!=="undefined") { %>data-id="<%=id %>"<% } %>>
  <div class="conversation-info">
  	
  	  <% if (transfered) { %>
  	  	<icon class="icon-share-sign"></icon>
  	  <% } %>
  	  
  	  <% if (satisfaction) { %>
  	  	<icon class=" icon-thumbs-up-alt"></icon>
  	  <% } %>
  	  
  	  <% if (satisfaction==false) { %>
  	  	<icon class=" icon-thumbs-down-alt"></icon>
  	  <% } %>
  	  
  	   <% if (banned) { %>
  	  	<icon class="icon-ban-circle"></icon>
  	  <% } %>	  
  	
      <p class="conversation-name"><%= name %></p>
      <small class="conversation-duration">
        <% if (duration.hours() !== 0) { %> <%= duration.format('HH')+' heures' %> <% } %>
        <% if (duration.minutes() !==  0) { %> <%= duration.format('mm')+' minutes' %> <% } %>
        <%= duration.format('s')+' secondes, le ' + moment(start).format('DD MMMM YYYY') + ' à ' +  moment(start).format('HH:mm') %>
      </small>
  </div>
</div>
