<footer class="panel-footer b-b">
  <div class="row text-center">
    <a id="conversations" class="col-xs-3 b-r">
      <p class="h3 font-bold m-t">
        <%= parseFloat(conversations*1).toFixed(2) %>
      </p>
      <p class="text-muted">Conversations / heure</p>
    </a>
    <a id="duration" class="col-xs-3 b-r">
      <p class="h3 font-bold m-t">
        <%= parseInt(duration/60) + ' min ' + parseInt(duration%60)  + ' s'  %>
      </p>
      <p class="text-muted">Temps moyen par conversation</p>
    </a>
    <a id="waited" class="col-xs-3 b-r">
      <p class="h3 font-bold m-t">
        <%= parseInt(waited/60) + ' min ' + parseInt(waited%60)  + ' s'  %>
      </p>
      <p class="text-muted">Temps moyen d'attente</p>
    </a>
    <a id="satisfaction" class="col-xs-3">
      <p class="h3 font-bold m-t">
        <%= parseInt(satisfaction*100) + '%' %>
      </p>
      <p class="text-muted">Taux de satisfaction</p>                        
    </a>
  </div>
</footer>