<div class="suggestions-header">
  <span class="suggestions-type">
    <%= type %>
  </span>
  <ul class="suggestions-help-list pull-right">
    <li class="suggestions-help-item">ESC : Quitter</li>
    <li class="suggestions-help-item">TAB : Parcourir</li>
    <li class="suggestions-help-item">ENTRE : Selectionner</li>
  </ul>
</div>

<div class="suggestions-content">
  <ul class="js-suggestions-list suggestions-list"></ul>
</div>