<div class="suggestions-header">
  <ul class="suggestions-help-list">
    <li class="suggestions-help-item  pull-left"><%= type %></li>
    <li class="suggestions-help-item pull-right">TAB/FLECHES : Parcourir</li>
    <li class="suggestions-help-item pull-right">ENTRE : Selectionner</li>
  </ul>
</div>

<div class="suggestions-content scrollable">
  <ul class="js-suggestions-list suggestions-list"></ul>
</div>