<div class="suggestions-header">
  <label class="suggestions-type">
    <%= type %>
  </label>
  <ul class="suggestions-help-list">
    <li class="suggestions-help-item">ESC : Quitter</li>
    <li class="suggestions-help-item">TAB : Parcourir</li>
    <li class="suggestions-help-item">ENTRE : Selectionner</li>
  </ul>
</div>

<div class="suggestions-content">
  <ul class="js-suggestions-list"></ul>
</div>