<div class="lily-page-cont"> <!--wrapper page les différentes pages--> 
	<header id="lily-header" class="lily-cst-header">
	  <span class="lily-icon lily-left lily-bt-menu lily-icon-menu"></span>
	</header>
	<section class="lily-main-content">	
	  <div class="lily-contact-form">
		<p>Adresse e-mail</p>
		  <input id="from" class="lily-cst-form-color" type="text" name="from" placeholder="Votre adresse e-mail" size="30"/>
		  <p>Objet</p>
		  <input id="object" class="lily-cst-form-color" type="text" name="object" placeholder="L'objet de votre demande" size="30"/>
		  <p>Message</p>
		  <textarea id="msg" class="lily-cst-form-color" type="text" name="msg" placeholder="Votre message" size="30"/>
		  <a href="#mail/sent" class="lily-btn-submit-color" class="button">Envoyer</a>
	  </div>
	</section>
</div>