<section class="hbox stretch">
  <aside class="users-activities-wrapper bg-white">
  <!-- Activities template -->
  </aside>
  <aside class="users-list-wrapper bg-light lter b-l">
    <ul class="users-list">
    <!-- Users list -->
    </ul>
  </aside>
</section>