<section class="hbox stretch">
  <aside class="aside-lg">
    <ul class="js-users-list users-list">
    <!-- Users list -->
    </ul>
  </aside>
  <aside class="users-activities-wrapper bg-white">
  <!-- Activities template -->
  </aside>
</section>