<img src="<%= converted.avatar %>" class="pull-left">
<div class="user-info clear">
  <div class="h6"><%= lastname.toUpperCase() %> <%= firstname %></div>
  <small class="text-muted"><%= converted.roles %></small>
</div>