<section class="wrapper scrollable">

  <div class="col-lg-6">
  	<section class="js-dashboard-operators-info panel bg-info lter no-borders">
    <!-- 
        Operators info 
    -->
    </section>
      
    <section class="js-dashboard-connected panel">
    <!-- 
        Connected operators 
    -->
    </section> 
  </div>
  
  <div class="col-lg-6">
	  <section class="js-dashboard-visitors-info panel bg-success lter no-borders">
    <!-- 
        Visitors info 
    -->
    </section> 
    
    <section class="js-dashboard-loading panel">
    <!-- 
        Loadings chart 
    -->
    </section>
    
  </div>

</section>