<section class="row wrapper-lg scrollable">

  <div class="col-lg-6">
  	<section class="js-dashboard-operators-info panel bg-info lter no-borders operators">
    <!-- 
        Operators info 
    -->
    </section>
      
    <section class="panel portlet-item list-connected">
      <header class="panel-heading">Connectés</header>
      <ul class="list-group alt">
      <!-- 
          List of connected operators 
      -->
      </ul>
    </section> 
  </div>
  
  <div class="col-lg-6">
	  <section class="js-dashboard-visitors-info panel bg-success lter no-borders">
    <!-- 
        Visitors info 
    -->
    </section> 
    
    <section class="js-dashboard-loadings panel">
    <!-- 
        Loadings chart 
    -->
    </section>
    
  </div>

</section>