<div class="panel-body">
  <span class="h4">Visiteurs en ligne</span>
  <div class="text-center padder m-t connected">
    <span class="h1">0</span>
  </div>
</div>
<footer class="panel-footer lt">
  <div class="row">
    <div class="col-xs-4 text-center ">
      <h5 class="font-semibold block"><i class="icon-time">0</i></h5>
      <small class="text-muted block">Temps d'attente</small>
    </div>
    <div class="col-xs-4 text-center">
      <h5 class="font-semibold block"><i class="icon-eye-open">0</i></h5>
      <small class="text-muted block">Pages vues</small>
    </div>
    <div class="col-xs-4 text-center">
      <h5 class="font-semibold block"><i class="icon-thumbs-up">100%</i></h5>
      <small class="text-muted block">Satisfaction</small>
    </div>
  </div>
</footer>