  <header class="bg-white header clearfix wrapper b-b">
    <div class="add-group">
      <button class="btn btn-sm btn-primary new-group">Ajouter un groupe</button>
    </div>
  </header>
  
  <section class="js-groups bg-white">
    <section class="hbox stretch">
      <!-- .aside -->
      <aside>
        <section class="vbox">
          <section class="scrollable">
            <!-- groups list -->
            <ul class="js-groups-list list-group no-borders no-radius list-group-alt"></ul>
          </section>
        </section>
      </aside>
      <!-- /.aside -->
      <aside class="group-edit bg-light lter b-l hide"></aside>
      <!-- Affichage du panneau de modification-->
    </section>
  </section>