<div class="triangle"></div>
<div class="view" <% if(typeof(id)!=="undefined") { %>data-id="<%=id %>"<% } %>>
  <div class="right-icons">
    <div class="groupIcon">
      <span class="lily-icon lily-icon-blocked right-icon<% if(blocked!==false) { %> active<% } %>"></span>
      <span class="lily-icon lily-icon-redirect right-icon<% if(redirect!==false) { %> active<% } %>"></span>
    </div>
    <div class="groupIcon">
      <span class="lily-icon lily-icon-happy right-icon<% if(satisfaction===true) { %> active<% } %>"></span>
      <span class="lily-icon lily-icon-unhappy right-icon<% if(satisfaction===false) { %> active<% } %>"></span>
    </div>
  </div>
  <div class="conversation-redirect">
    <% if(redirect!==false) { %><%=listUser._byId[redirect].get('lastname').toUpperCase() %> <%= listUser._byId[redirect].get('firstname') %><% } %>
  </div>

  <div class="conversation-info">
    <div class="conversation-firstBlock">
      <div class="conversation-name"><%=interlocutor %></div>
      <div class="conversation-duration"><span class="lily-icon lily-icon-clock"></span> <%= duration_human %></div>
    </div>

    <div class="conversation-secondBlock">
      <div class="conversation-name"><%= conversationName %></div>
      <div class="conversation-start">Le <%=startTime_human %></div>
    </div>

  </div>
</div>
