<div class="vbox">
	<section class="scrollable">
		<div class="wrapper">
			<div class="clearfix m-b">
				<div class="clear">
					<div class="h5 m-t-xs m-b-xs conversation-date">
						Conversation du <%= startTime_date_fullText %>
					</div>
					<ul id="conversation-listMessage">
					<% test=obj %>
						<% for(var i=0, l=messages.length; i<l; i++) { %>
							<li class="<%= (interlocutors[messages[i].interlocutor].type=='operator' ? 'operatorMessage' : 'userMessage') %>">
								<div class="conversation-messageTime">
									<%= messages[i].time_human %>
								</div>
								<div class="conversation-messageContent">
									<%= messages[i].content %>
								</div>
							</li>
						<% } %>
					</ul>
				</div>
			</div>
		</div>
	</section>
</div>
