<footer class="panel-footer">
  <div class="row text-center">
    <a class="col-xs-3 numberOfConversation b-r">
      <p class="h3 font-bold m-t"><%-parseFloat(conversations*1).toFixed(2) %></p>
      <p class="text-muted">Nombre de conversations / heure</p>
    </a>
    <a class="col-xs-3 conversationTime b-r">
      <p class="h3 font-bold m-t"><%-parseInt(conversationsTime/60) + 
        ' min ' + parseInt(conversationsTime%60) + ' s' %>
      </p>
      <p class="text-muted">Temps moyen par conversation</p>
    </a>
    <a class="col-xs-3 waited b-r">
      <p class="h3 font-bold m-t"><%-parseInt(waited/60) + 
        ' min ' + parseInt(waited%60) + ' s' %>
      </p>
      <p class="text-muted">Temps moyen d'attente</p>
    </a>
    <a class="col-xs-3 satisfaction">
      <p class="h3 font-bold m-t"><%-parseInt(satisfaction*100) %> %</p>
      <p class="text-muted">Taux de satisfaction</p>                        
    </a>
  </div>
</footer>