<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}Lily Back Office{% endblock %}</title>
  <meta name="description" content="lily, agent virtuel, back office" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

{% block stylesheets %}

{% stylesheets 'css/vendor/bootstrap.css' 'css/vendor/animate.css' 'css/vendor/font-awesome.min.css' 'css/vendor/font.css' 'css/vendor/plugin.css' 'css/vendor/app.css' filter='cssrewrite' %}

  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />

{% endstylesheets %}

{% endblock %}

  <!--[if lt IE 9]>
    <script src="{{ asset('js/ie/respond.min.js') }}" cache="false"></script>
    <script src="{{ asset('js/ie/html5.js') }}" cache="false"></script>
    <script src="{{ asset('js/ie/fix.js') }}" cache="false"></script>
  <![endif]-->

</head>
<body>

{% block body %}{% endblock %}

</body>
</html>