/*=======================================================================================================
DASHBOARD
=======================================================================================================*/

.reportrange {
	margin-top:-6px;
	margin-right:-5px;
	border:#efefef solid 1px;
	background:#f8f8f8;
	padding:5px;
	cursor:pointer;
}

.icon-spinner {
  position: absolute;
  top: calc(40% - 50px);
  left: calc(50% - 50px);
  font-size: 50px;
}

.panel-body {
  position: relative;
}

.panel-footer a {
	cursor:pointer;
}

.panel-footer a.active {
	color:#6eaee8;
}