/*=======================================================================================================
FAQ
=======================================================================================================*/
body {
  -webkit-user-select: none;
   -moz-user-select: -moz-none;
    -ms-user-select: none;
        user-select: none;
}

.faq-content {
  border: 1px solid #579ad7;
  color: #579ad7 !important;
}
.new-content {
  margin: 0 0 0 7px!important;
}
.new-categorie {
  margin: 0 !important;
}
.faq-content.active {
  color: #fff;
  background: #579ad7;
}
#faq-list .edit {
  display: none;
  float: left;
  position: relative;
  left: 0;
  top: -8px;
  border-width: 0;
  background: transparent;
  box-shadow: none;
  padding: 0 30px 0 0;
  font-size: 13px;
  color: #fff;
}
#faq-list .editing .faq-name {
  display: none;
}
#faq-list .editing .edit {
  display: block;
}
.icon-reorder {
  font-size: 17px;
  vertical-align: middle;
  float: left;
  margin-left: -30px;
  cursor: move;
}
.faq-content.active .icon-reorder {
  color: #fff;
}
.faq-category.active .icon-reorder {
  color: #717171;
}
.faq-item li {
  position: relative;
  cursor: pointer;
}
.faq-item .faq-name {
  cursor: text;
  pointer-events: auto;
}
.faq-category .faq-name {
  color: #717171;
}
#faq-list li .destroy {
  position: absolute;
  top: 13px;
  right: 15px;
  z-index: 1;
  cursor: pointer;
}
.list-group-item .edit {
  display: none;
  float: left;
  position: relative;
  left: 0;
  top: -8px;
  border-width: 0;
  background: transparent;
  box-shadow: none;
  padding: 0 30px 0 0;
  font-size: 13px;
  color: #717171;
}
#faq-list li.done .faq-name {
  text-decoration: line-through;
}
#faq-detail textarea {
  height: 300px;
  font-size: 12px;
}
.breadcrumbs {
  margin: 0;
  color: #717171;
  padding: 6px;
}
.breadcrumbs .breadcrumb-item {
  list-style: none;
  display: inline-block;
}
.breadcrumbs .breadcrumb-item:before {
  content: "/\00a0";
  margin: 0 5px;
  color: #cccccc;
}
.breadcrumb-item:hover {

}
.breadcrumbs .breadcrumb-item:first-child:before {
  content: ' ';
}
.breadcrumb .breadcrumb-item:before {
  text-decoration: none;
}