/******************************
  Styles global to all modules
*******************************/

.checkbox {
  display: block;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  vertical-align: middle;
}

.graph {
  height: 250px;
  width: 100%;
}

.list-group-item.active {
  border-color: #62a5e2 !important;
  background-color: #62a5e2 !important;
}

.tab-content-wrapper {
  top: 54px !important;
}

.form-control {
  border-color: #d8dde5;
  color: #999999;
}

.list-group-item.active a:hover {
  color: white;
}

/**
 * Colors
 */

.bg-info {
  background-color: #71aee5;
  color: #ffffff;
}

.bg-info.lter, .bg-info .lter {
  background-color: #85bdef;
}

.bg-info.lt, .bg-info .lt {
  background-color: #7bb5e9;
}

@media (min-width: 768px) {

  .aside-sm {
    width: 100px;
  }

  .wrapper-sm {
    padding: 10px;
  }

  #nav.nav-vertical {
    width: 100px;
  }

}
