/******************************

  Styles global to all modules

*******************************/

.modal-dialog {
  position: absolute;
  left: 0;
  right: 0;
}

.modal-dialog.chat-modal-container {
  width: 93%;
  height: 92%;
  background: #F3F5F9;
  border-radius: 3px;
  margin: 40px auto 0;
  padding: 0;
  display: table;
  border-radius: 4px;
}

.navigation-container {
  margin-top: 50px;
}
.nav-vertical .navigation-container {
  margin-top: 90px;
}

.navbar-nav > li > a {
  padding-top: 13px;
  padding-bottom: 12px;
}

.bg-dark .nav li > ul.dropdown-menu > li > a:hover {
  color: #6A92E4;
}

#chatModal {
  display: none;
}
.modal.fade .modal-dialog {
/*  -webkit-transform: translate3d(0, -25%, 0);
  -ms-transform: translate3d(0, -25%, 0);
  transform: translate3d(0, -25%, 0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;*/
}
.modal.in .modal-dialog {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* ==============
   Header Section
   ============== */

/*  Has to be positioned on the right hand of the header,
 *  Ancred to the right and positioned relatively to allow 
 *  absolutely positioned content inside (a.k.a dropdowns, ...) */
.header-widget {
  float: left;
  position: relative;
  display: block;
}
.header-widget-link {
  color: rgba(255, 255, 255, 0.9);
}
.header-widget-link:hover,
.header-widget-link:active {
  background: #3D434F; /* darker shade of the header background */
  color: #fff;
}

/**
 *  Profile Menu Dropdown
 */
.user-menu {
  /*border-left: solid 1px rgba(255, 255, 255, 0.2);*/
}
.user-menu:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  height: 35px;
  width: 1px;
  background: rgba(206, 206, 206, 0.38);
  margin-top: -17.5px;
}
.user-menu-link {
  height: 50px;
}

/* override dirty todo (app.css) */
.bg-dark .nav li > a:hover {
  background-color: transparent;
}

/**
 *  Notifications Menu Dropdown
 */
.notifications-menu {}
.notifications-menu-link {

}
.notifications-icon {
  font-size: 20px;
}
.notifications-count {
  margin-left: -12px;
  top: -11px;
  font-size: 11px;
  padding: 2.5px 5px;
  line-height: 10px;
  vertical-align: middle;
  background-color: #fb6b5b;
  color: #ffffff;
  display: inline-block;
  min-width: 10px;
}
.alert-badge {
  position: relative;
  display: inline-block;
  min-width: 10px;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  border-radius: 50%
}
.nav li.chat-notification > a:hover {
  background-color: rgba(226, 226, 226, 0.2);
}
.notifications-list {
  max-height: 300px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.chat-notification .conversation-name {
  font-size: 11px;
  font-style: italic;
  opacity: 0.6;
  line-height: 19px;
  vertical-align: bottom;
  max-width: 80px;
  text-overflow: ellipsis;
  float: right;
}

/**
 *  Status Button
 */
.nav .header-widget.status-selector {
  padding: 0 15px;
  display: none;
  height: 50px;
  line-height: 50px;
  margin-left: 0;
}
.status-selector.show { display: block; }
.status-selector .btn.status-button {
  display: inline-block;
  float: none;
  margin-top: -4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.9);
  background: transparent;
}
.status-selector .btn.status-button:hover,
.status-selector .btn.status-button:active {
  background: #3D434F; /* darker shade of the header background */
  color: #fff;
}
