/*=======================================================================================================
REDIRECTION
=======================================================================================================*/

.icon-plus {
  line-height: 1.55;
}
.list-group-item.redirection-view {
  border-right: 4px solid transparent !important;
  cursor: pointer;
}
.list-group-item.redirection-view.active {
  border-right: 4px solid #63a5e1 !important;
}
.list-group-alt .list-group-item:nth-child(2n+2) {
  background-color: rgba(219, 219, 219, 0.72);
}
.redirection-action {
  font-size: 13px;
  text-align: right;
}
.redirection-action .icon-check-sign.default,
.redirection-action .icon-sign-blank:hover {
  color: #63a5e1;
}
.aside-redirection {
  border-left: 1px solid #D5D5D5;
}
.modal-dialog { /* extends bootstraps .modal-dialog class */
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.modal-default-redirection {
  margin: 0;
  position: fixed;
  width: 500px;
  top: calc(50% - 100px) !important;
  left: calc(50% - 250px) !important;
  z-index: 9999;
  outline: 0;
}
@media (max-width: 767px) {
  .redirection-action,
  .delete-action {
    display: none;
  }
}
