.user-edit {
  width: 375px;
}

.user-name {
  color: #63a5e1;
  margin: 5px 0 0 0;
  font-size: 13px;
}

.user-info-left {
  display: inline-block;
  font-size: 11px;
  line-height: 23px;
  padding-left: 20px;
  vertical-align: top;
}
.user-info-right {
  float: right;
  display: inline-block;
  font-size: 11px;
  line-height: 43px;
  padding-right: 50px;
}

.close {
  font-size:26px;
}

.destroy {
  position: absolute;
  top: 18px;
  right: 30px;
  z-index: 1;
  cursor: pointer;
}

.view {
  cursor: pointer;
}

.list-group-item {
  border: none;
  border-radius: 0!important;
  border-right: 4px solid transparent !important;
}

.list-group-item img {
  width: 45px; 
  height: 45px;
}

.list-group-item.active {
  border-right: 4px solid #579ad7 !important;
  color: #717171 !important;
}

.add-user {
  float:right;
  display:none;
}

.dropdown-label {
  display: block;
  margin-right: 9px;
  overflow: hidden;
}

.users-counter {
  margin-left: 20px;
  margin-right: 35px;
  color: #717171 !important;
}

.sort-menu {
    margin: 0 !important;
}

.sort-menu .dropdown-menu > li {
  padding: 5px 15px;
  cursor: pointer;
}

@media (min-width: 530px) {
  .users-counter {
    float: right;
  }
}

@media (max-width: 530px) {
  .users-counter {
    text-align: right;
  }
}

.modal-content {
  border-radius: 3px;
}

.modal-footer {
  border-top: none;
  padding: 15px;
  margin-top: 0 !important;
}

.modal-remove {
  margin: 0;
  position: absolute;
  z-index: 9999;
  opacity: 1,
  width: 500px;
  height: 400px;
  top: calc(50% - 100px) !important;
  left: calc(50% - 250px) !important;
}

.btn-roles {
  width: 100%;
}

.btn-roles button {
  width: 100%;
}

.user-editor .dropdown-menu > li > a:hover,
.user-editor .dropdown-menu > .active > a:hover {
  background-color: #6A7281;
}

.user-editor .dropdown-menu > li.active > a:hover {
  background-color: #566277;
}

.user-editor img {
  margin-top: 15px;
  margin-left: 10px;
  width: 100px;
  height: 100px;
}

.uploader {
  position: absolute;
  z-index: 9999;
  top: 50px;
  left: 25px;
  opacity: 0;
}

.avatar-wrapper:hover .uploader {
  opacity: 1;
}

.avatar {
  display: inline-block;
}

input[type="file"] {
  display: none;
}