<div class="clear row hover">
	<div class="col-sm-7 col-xs-9">
        <a href="#"><span><%=title %></span></a>
	</div>
	<div class="col-sm-2 col-xs-3 text-center">
        <small><%=frequency %></small>
	</div>
	<div class="col-xs-2 text-center redirection-action">
	  <a href="#"><i class="icon-sign-blank"></i></a>
	</div>
  <div class="col-xs-1 text-center delete-action">
    <a href="#"><i class="icon-remove hover-action m-l-xs"></i></a>
  </div>
</div>
