/* =======================================================================================
LIVE CHAT
=======================================================================================================*/

i {
  font-weight: bold !important;
}

.chat-header {
  background: #6075a4;
}

.chat-message-show{
	-webkit-animation: showFromBottom .3s ease both;
	-moz-animation: showFromBottom .3s ease both;
	animation: showFromBottom .3s ease both;
}

.conversation-header {
  background: #eaecf0;
}

.header-control {
  display: inline-block;
  padding: 10px 0;
}

.header-control a i {
  font-size: 20px;
  color: #f9f9f9;
  line-height: 30px;
}

.header-control button {
  background: #565f71;
  box-shadow: 3px 3px 1px -2px #454d5f;
  outline: none;
  color: #f9f9f9;
  font-size: 12px;
  margin-right: 5px;
}

.header-control button:hover, .header-control button:focus {
  color: white;
}

.dropdown-menu li.active a {
  background: transparent !important;
}

.dropdown-menu li.active a:hover {
  background: #f3f5f9 !important;
}

.windows .dropdown-menu {
  margin-top: 5px;
  min-width: 138px;
}

.status {
  margin-right: 7px;
}

.status .dropdown-menu {
  margin-top: 5px;
  min-width: 138px;
}

.windows .dropdown-menu a, .status .dropdown-menu a {
  color: #999999;
}

.windows .dropdown-menu a:hover, .status .dropdown-menu a:hover {
  background: #f3f5f9;
  color: inherit;
}

.status button .icon-stop {
  font-size: 11px;
  margin-right: 3px;
}

.status button .available {
  color: #31bf7a;
}

.status button .unavailable {
  color: #ff6455;
}

.header-current, .header-waiting {
  border-bottom: 1px solid #d1d1d1;
  height: 40px;
  padding: 0 10px 0 15px;
  cursor: pointer;
}

.header-current span, .header-waiting span {
  margin-top: 10px;
  background: #e7e9ed;
  color: #7e7f84;
}

.header-current {
  border-top: 1px solid #d1d1d1;
}


.header-queue {
  height: 50px;
  padding: 0px 10px 0 15px;
}

.header-queue h5 {
  margin: 0;
  padding-top: 17px;
  font-size: 12px;
}

.header-waiting {
  border-top: 1px solid #d1d1d1;
}

.header-current h5, .header-waiting h5 {
  font-size: 10px;
  font-weight: 900;
  color: #67686b;
  margin: 0;
  line-height: 40px;
  display: inline-block;
}

.header-current > i {
  font-size: 20px;
  color: #67686b;
  line-height: 38px;
  cursor: pointer;
}

.header-waiting > i {
  font-size: 20px;
  color: #67686b;
  line-height: 38px;
  cursor: pointer;
}

.list-current, .list-waiting {
  padding: 0;
  margin: 0;
}

.list-record-item {
  position: relative;
  border-bottom: 1px solid #f1f0f0;
  height: 55px;
  width: 100%;
  cursor: pointer;
}

.list-record-item:hover {
  background: #eff1f4;
}

.list-record-item.active {
  background: #eff1f4;
}

.list-record-item:last-child {
  border-bottom: none;
}

.list-record-item .status-full {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 30px;
  width: 10px;
}

.list-record-item .status-half-first {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 15px;
  width: 10px;
}

.list-record-item .status-half-last {
  position: absolute;
  left: 10px;
  top: 27px;
  height: 15px;
  width: 10px;
}

.answered {
  background: #31bf7a;
}

.text-answered {
  color: #31bf7a;
}

.unanswered {
  background: #f8ca12;
}

.urgent {
  background: #e74c3c !important;
}

.text-urgent {
  color: #e74c3c !important;
}

.text-unanswered {
  color: #f8ca12;
}

.sell-opportunity {
  background: #6075a4;
}

.multiple {
  margin: 20px;
  display: inline-block;
  background: #f9fafb;
}

.half-width {
  max-width: -moz-calc(50% - 40px);
  max-width: -webkit-calc(50% - 40px);
  max-width: -o-calc(50% - 40px);
  max-width: calc(50% - 40px);
  height: calc(100% - 40px);
  height: -moz-calc(100% - 40px);
  height: -webkit-calc(100% - 40px);
  height: -o-calc(100% - 40px);
}

.full-width {
  max-width: -moz-calc(100% - 40px);
  max-width: -webkit-calc(100% - 40px);
  max-width: -o-calc(100% - 40px);
  max-width: calc(100% - 40px);
}

.modal-content {
  border-radius: 3px;
}

.modal-footer {
  border-top: none;
  padding: 15px;
}

.modal-close {
  margin: 0;
  position: absolute;
  width: 500px;
  height: 400px;
  top: calc(50% - 100px) !important;
  left: calc(50% - 250px) !important;
}

.modal-ban {
  margin: 0;
  position: absolute;
  width: 500px;
  height: 400px;
  top: calc(50% - 100px) !important;
  left: calc(50% - 250px) !important;
}

.modal-backdrop.in {
  opacity: 0.7;
}

.list-record-item .informations {
  display: inline-block;
  margin-top: 10px;
  margin-left: 30px;
  width: 150px;
  height: 35px;
  border-right: 1px solid #efefef;
}

.list-record-item .informations p {
  margin: 5px 0 0 0;
  color: #787878;
  font-size: 12px;
  line-height: 8px;
}

.list-record-item .informations label {
  color: #787878;
  font-size: 10px;
  margin: 0 0 0 -2px;
}

.list-record-item .informations icon {
  font-size: 12px;
  margin-right: 3px;
}

.list-record-item .timer-lastmsg {
  color: #999999;
  display: inline-block;
  font-size: 14px;
  width: 90px;
  text-align: center;
  vertical-align: 35%;
}

.aside-chat-left {
  background: #f9fafc;
}

.conversation-header p {
  margin-left: 5px;
}

.conversation-header-control {
  color: #6e7d83;
  font-size: 12px;
  font-weight: 600;
}

.conversation-close {
  color: #6e7d83;
  font-size: 18px;
  float: right;
  margin: 13px 0 0 2px;
  cursor: pointer;
}

.conversation-minus {
  color: #6e7d83;
  font-size: 18px;
  float: right;
  margin: 18px 0 0 15px;
  cursor: pointer;
}

.conversation-close:hover, .ban:hover, .transfer:hover {
	color: #576064;
}

.conversation-header-control .transfer, .ban {
  cursor: pointer;
}

.conversation-footer  {
  padding: 0 20px;
}

.conversation-footer .alert-writing {
  position: absolute;
  top: -25px;
  right: 25px;
  font-size: 12px;
}

.conversation-footer textarea {
  width: 100%;
  height: 85px;
  resize: none;
}

.conversation-section {
  padding: 20px;
  margin-bottom: 180px;
}

.conversation-section-list {
  padding: 0;
}

.conversation-section-list li {
  display: block;
}

.conversation-section-item img.img-circle {
  width: 35px;
  height: 35px;
  margin-left: 5px;
  float: left;
}

.conversation-section-item p.msg-visitor {
  padding-right: 15px;
  text-align: right;
  font-size: 12px;
  font-weight: 600;
  color: #6075a4;
  border-right: 2px solid #6075a4;
  min-height: 35px;
}

.conversation-section-item p.msg-visitor .date {
  color: #d6d6d6;
  font-weight: 300;
}

.conversation-section-item p.msg-operator {
  border-left: 2px solid #6e7d83;
  font-size: 12px;
  min-height: 35px;
  padding-left: 15px;
}

.conversation-section-item p span {
  color: #d6d6d6;
  display: block;
}

.conversation-section p.conversation-date {
  border-bottom: 1px dotted #a9abb1;
  padding-bottom: 8px;
  margin-bottom: 20px;
  color: #a9abb1;
}

.informations-header {
  background: #f9fafc;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.informations-header h5 {
  margin: 0;
  padding: 18px 0 18px 0;
  font-size: 13px;
  display: inline-block;
}

.informations-header icon {
  padding: 15px 0 15px 0;
  font-size: 20px;
  cursor: pointer;
}

.informations-section {
  padding: 20px 10px;
}

.informations-section p {
  overflow: hidden;
  -o-text-overflow: ellipsis; /* pour Opera 9 */
  text-overflow: ellipsis;
}

.informations-list {
  list-style-type: none;
  padding-left: 5px;
}

.icon-gear.active, .icon-bar-chart.active, .icon-comments-alt.active {
  color: #fcc44d;
}

#dashboard-section .operators small {
  margin-top: 0;
}

#dashboard-section .operators h5 {
  margin-bottom: 5px;
  color: #427789;
}


#dashboard-section .visitors small {
  margin-top: 0;
}

#dashboard-section .visitors h5 {
  margin-bottom: 5px;
  color: #427789;
}

.header-control i.disable {
  cursor: default;
}

.wysihtml5-toolbar {
  margin-right: 5px;
  width: 100%;
  max-width: 700px;
  display: inline-block;
}

.wysihtml5-toolbar a {
  display: inline-block;
}

.createLink {
  position: absolute;
  bottom: 31px;
  margin-right: 30px;
}

.dropdown-select .disabled {
  color: #cbcbcb;
}