/*=======================================================================================================
FAQ
=======================================================================================================*/
body {
  -webkit-user-select: none;
   -moz-user-select: -moz-none;
    -ms-user-select: none;
        user-select: none;
}
.new-content {
  margin: 0 0 0 7px!important;
  border: 1px solid #579ad7;
  color: #579ad7 !important;
}
.new-categorie {
  margin: 0 !important;
}
.faq-content {
  border: 1px solid rgba(87, 154, 215, 0.6);
  color: #579ad7 !important;
}
.faq-category {
  border: 1px solid #dddddd;
}
.faq-content.active {
  color: #fff;
  background: #579ad7;
}
.list-group-item{
  position: relative;
  height: 40px;
  cursor: pointer;
}
.list-group-item.editing .faq-name {
  display: none;
}
.list-group-item.editing .edit {
  display: inline-block;
  width: auto;
  max-width: 90%;
  height: 18px;
}
.faq-item .icon-reorder {
  font-size: 17px;
  vertical-align: middle;
  margin-left: -5px;
  cursor: move;
}
.faq-content.active .icon-reorder {
  color: #fff;
}
.faq-category.active .icon-reorder {
  color: #717171;
}
.faq-item .faq-name {
  cursor: text;
  pointer-events: auto;
  display: inline-block;
  padding-left: 8px;
}
.list-group-item.faq-category .faq-name { color: #717171; }
.list-group-item.faq-content.editing .faq-name,
.list-group-item.faq-content.active .faq-name {
  color: #fff;
}
.list-group-item .destroy {
  font-size: 20px;
  vertical-align: middle;
  z-index: 1;
  cursor: pointer;
}
.list-group-item .edit {
  display: none;
  position: relative;
  border-width: 0;
  background: transparent;
  box-shadow: none;
  padding: 0 30px 0 8px;
  font-size: 13px;
  color: #717171;
}
.list-group-item.faq-content .edit {
  color: #fff;
}
.list-group-item.done .faq-name {
  text-decoration: line-through;
}
#faq-detail textarea {
  height: 300px;
  font-size: 12px;
}
.breadcrumbs {
  margin: 0;
  color: #717171;
  padding: 6px;
}
.breadcrumbs .breadcrumb-item {
  list-style: none;
  display: inline-block;
}
.breadcrumbs .breadcrumb-item:before {
  content: "/\00a0";
  margin: 0 5px;
  color: #cccccc;
}
.breadcrumb-item:hover {

}
.breadcrumbs .breadcrumb-item:first-child:before {
  content: ' ';
}
.breadcrumb .breadcrumb-item:before {
  text-decoration: none;
}
ul.wysihtml5-toolbar {
	margin: 0;
	padding: 0;
	display: block;
}

ul.wysihtml5-toolbar::after {
	clear: both;
	display: table;
	content: "";
}

ul.wysihtml5-toolbar > li {
	float: left;
	display: list-item;
	list-style: none;
	margin: 0 5px 10px 0;
}

ul.wysihtml5-toolbar a[data-wysihtml5-command=bold] {
	font-weight: bold;
}

ul.wysihtml5-toolbar a[data-wysihtml5-command=italic] {
	font-style: italic;
}

ul.wysihtml5-toolbar a[data-wysihtml5-command=underline] {
	text-decoration: underline;
}

ul.wysihtml5-toolbar a.btn.wysihtml5-command-active {
	background-image: none;
	outline: 0;
}

ul.wysihtml5-commands-disabled .dropdown-menu {
	display: none !important;
}

ul.wysihtml5-toolbar div.wysihtml5-colors {
  display:block;
  width: 50px;
  height: 20px;
  margin-top: 2px;
  margin-left: 5px;
  position: absolute;
  pointer-events: none;
}

ul.wysihtml5-toolbar a.wysihtml5-colors-title {
  padding-left: 70px;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="black"] {
  background: black !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="silver"] {
  background: silver !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="gray"] {
  background: gray !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="maroon"] {
  background: maroon !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="red"] {
  background: red !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="purple"] {
  background: purple !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="green"] {
  background: green !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="olive"] {
  background: olive !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="navy"] {
  background: navy !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="blue"] {
  background: blue !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="orange"] {
  background: orange !important;
}