/*******************************************
Tree answers
*******************************************/
/*FIELD ANSWER*/
/*General answer*/
.reponse-item.input-group{
display:block;

}
/*title of answer without the wysiwyg*/
.reponse-name{
color:#4c5567;
border-radius:3px;
border : 1px solid #4c5567;
width:100%;
height: 22px;
background:#fff;
/*margin-left:27px;*/
position: relative;
line-height: 8px;
font-size: 12px;
padding-top:12px;
padding-bottom:12px;
display: block;
overflow: hidden;
}
.reponse-name a {
color:#4c5567;
}
/*field answer with wysiwyg*/
#questions #questions-enfants .conteneur-textarea{
position:relative;
border-radius:3px;
width:690px;
padding:0;
display: table-cell;
height:30px !important;
}
/*Wysiwyg tool bar*/
/*Button wysiwyg in the simple field answer*/
#questions-enfants .conteneur-textarea ul.wysihtml5-toolbar{
padding-bottom:0;
position: absolute;
bottom: 0;
/*display:none;*/
}

.edit-reponse-content{
background-color:#fff;
color:#4c5567;
outline:0;
border:0;
overflow-y:hidden;
width:100%;
padding:0;
height:32px;
display:table-cell;
line-height:32px;
}
/*field answer of an action*/

#questions .wrapper-action > .wrapper-answer >.content-answer{
margin-top: 1px;
}
#questions .wrapper-action > .wrapper-answer.collapse{
display:none;
}
/*FIELD PRECISION*/
.wrapper-precision{
margin-top:-2px;
/*display:block;*/
}
#wrapper-tree-answers .wrapper-precision.panel{
border-top:0; 
}
#wrapper-tree-answers .wrapper-precision  > .panel-heading >a >i{
padding-left:8px;
}
#wrapper-tree-answers .wrapper-title{
padding-left:0;
border:0;
display:table;
padding-right:0;
z-index:40;

}
@media (max-width:768px){
#wrapper-tree-answers .wrapper-title{
top:0px;

}
}
#wrapper-tree-answers .question-parent{
border:1px solid #e0e4e8;
height:30px;
display:inline-block;
background: #fff;
}
@media (max-width:768px){
#wrapper-tree-answers .question-parent{
top: 62px;
}
}
#wrapper-tree-answers .question-parent:active,
#wrapper-tree-answers .question-parent:focus{
outline:0;
border:1px solid #e0e4e8;
height:30px;
}
.wrapper-title button {
height:30px; 
border:1px solid #e0e4e8;
border-radius:3px;
background:transparent;
}
.wrapper-title .caret{
border-top: 3px solid #000;
border-right: 3px solid rgba(0, 0, 0, 0);
border-left: 3px solid rgba(0, 0, 0, 0);
border-bottom: 0 dotted;
}
.select-mood .dropdown-menu{
min-width:51px;
width:51px;

}

#wrapper-tree-answers .select-mood{
width:50px;
height:30px;
background:white;
border-radius: 2px; 
border: 1px solid #E0E4E8;
padding-left:6px;
/*
height:30px;
width:50px;
display:inline-block;*/
}
.select-mood .caret {
position: absolute;
right: 10px;
top: 14px;

}
#wrapper-tree-answers .wrapper-action >.dd-handle:before{
color:#58cef6 ;
}



#wrapper-tree-answers .wrapper-action-field >.input-group-btn{
background:#fff;

}
.wrapper-precision  .wrapper-precision {
margin-top:0;
}
.content-precision{
   height: 30px;
  border:0;
    width:93%;
outline:0;
padding-left:4px;}               
/*FIELD ACTION*/       
#wrapper-tree-answers .wrapper-actions.panel-body.collapse{
display:none;
}
#wrapper-tree-answers .wrapper-action{
padding-left:0;
display:table; 
padding-top:0;
padding-bottom:0;
border-top:0;
width:100%;
margin-top:15px;
}
#wrapper-tree-answers .wrapper-action-field{
padding-top: 0;
padding-bottom: 0;
display: table;
height: 28px; 
margin: 0;
padding-left: 0;
padding-right:0;
border:0;
}
#wrapper-tree-answers .wrapper-action-field >a >i{
color: #FFF;
position: absolute;
top: 9px;
padding-left:8px;
}
#wrapper-tree-answers .content-action{
background: #64DAFF;
padding-right: 0;
border-radius: 5px;
}
/*********************************************************************
A TRIER
****************************************************************************************/
.wrapper-tree-buttons {
position: fixed;
top: 282px;
width: 100%;
background: #FFF;
height: 45px;
z-index: 50;
padding-top: 10px;

}
@media(min-width:768px) and (max-width:993px){
.wrapper-tree-buttons {
top:245px
}
}
@media (max-width:767px){
.wrapper-tree-buttons{
position: relative;
top: auto;
}
}
#categories-choosen{
position: fixed;
top: 200px;
min-width:450px;
padding-left:0;
}
#categories-choosen >*{
padding-left:0;
}                         
#question-content .menu-right-side-panel {
position: fixed;
z-index: 888888888;
width: 100%;
top:150px;
padding-bottom:0;
height:40px;
}
@media (max-width:768px) {
#question-content .menu-right-side-panel{
position:relative;
top:auto;
}
}
@media (max-width:993px) and (min-width:768px){
#question-content .menu-right-side-panel { 
top:100px;
}

}
.wrapper-categories{
padding-top: 10px;
position: fixed;
top: 187px;
z-index: 60;
background: #FFF;
height: 84px;
right: 0;
padding-right: 13px;
margin-left:15px;
} 
@media (max-width:768px){
.wrapper-categories{
position: relative;
top: auto;
margin-left:0;
padding-top:0;
}

}
@media (max-width:993px) and (min-width:768px){
.wrapper-categories{
top:135px;
width:63%;
}


} 
@media (min-width:1090px){
#reponse .tree-answers{
position: relative;
bottom: 64px;
}
}
@media (min-width:768px) and (max-width:1090px){
#reponse .tree-answers{
position: relative;
top: -218px;
margin-top: 15px;
}

}
@media(min-width:767px) and (max-width:768px){/*Shame on me (pp), but cant find what property i have to change to avoid this trick*/
#reponse .tree-answers{
bottom:435px;
position:relative;
top:auto;}
}
@media (max-width:767px){
#reponse .tree-answers{
/*bottom: 205px;*/
position:relative;
}
}
#question-content .title-header-right-panel{
position: fixed;
top: 266px; 
width: 100%;
background: #FFF;
z-index:50;
}

@media (max-width:768px){
#question-content .title-header-right-panel{
position: relative;
top: auto;
}
}
@media (min-width:768px) and (max-width:993px){
#question-content .title-header-right-panel{
top:219px; 
} 

}
#category{
height: 33px;
line-height: 27px;
margin-top: 10px;
width:100%; 
}
#list-categories-displayed{
background:white;
padding-left:0;
}
#wrapper-category-choosen{
border: 1px solid #E0E4E8;
border-radius: 4px;
margin-top: 11px;
padding-bottom: 7px;
padding-top: 7px;
padding-left:7px;

}
.category-choosen{
cursor: pointer;
list-style-type: none;
}


/******************************************
MOODS
******************************************/
/*List moods*/
#reponse .list-moods{
left:auto;
right:0;
left: auto;
right: 0;
width: 50px ;
min-width: 50px;
}
/*List mood's icon*/




/*Icon in button select*/
.select-mood > .lily-icon {
position:relative;
right:5px; 
}
/*List moods*/
#reponse .list-moods{
left:auto;
right:0;
left: auto;
right: 0;
width: 50px ;
min-width: 50px;
}
/*List mood's icon*/




/*A TRIER*/
.mood-choosen{
margin-left:11px;
}

li.content-mood i.mood-choosen:before {
font-size:18px;
}


.category-displayed{
list-style-type:none;
padding-top:5px;
padding-left:10px;
cursor:pointer;
}
/*Liste des boutons de gestions des questions enfants*/
#reponse .button-action, #reponse .button-action:hover{            
border: 1px solid #64daff;
color:#fff;
background-color: #64daff;
background-clip: padding-box;
}
.button-add-answer-personal,.button-add-answer-personal:hover,.button-add-answer, .button-add-answer:hover,.button-add-answer-question-sans-reponse,.button-add-answer-question-sans-reponse:hover{
background-color:#fff;
   background-clip: padding-box; 
   color:#6e7d83;
   border:1px solid #4c5567;
   width:95px;
}
.button-add-answer-personal{
margin-left:0px;
}
.button-delete, .button-delete:hover, .button-delete-question-sans-reponse, .button-delete-question-sans-reponse:hover{
background-color: #ee5a5a;
color:white;
width:90px;
}

