#nombre-questions .lily-icon-arrow-down:before,#nombre-questions .lily-icon-arrow-up:before{
font-size:7px;

}
ul#nombre-questions .block-answered .title-block-meter, ul#nombre-questions .block-unanswered .title-block-meter{
width:100%;
margin-top:0;
background:#586277;
color:#a0a8b8;

}
/*****************************************************************
Left side Panel Questions
*****************************************************************/
/************************************
Meter block
***************************************************/
.left-side-menu{
width:230px;
}

.resume-question>a,.meter-question,.meter-redirections,.meter-question-unanswered, .meter-questions-perso{
cursor:pointer;
}
#nombre-questions .meter-question{
background:#586277;
}
.bg-blue-questions{
background:#427fff;
color:white;
}

ul#nombre-questions section{
background:transparent;
border:0;
color:#a0a8b8;
}
ul#nombre-questions header{
background:transparent;
padding-right:0;
}
ul#nombre-questions header ul {
margin-left:0;
margin-right:0;

}
ul#nombre-questions .panel-heading {
padding-left:0;
height:35px; 

}
ul#nombre-questions  .panel-body{
padding:0;
}
ul#nombre-questions  .panel-body .dropdown{
width:100%;
background: #F2F4F8;;
}
ul#nombre-questions  .panel-body .dropdown ul{
border:0;
padding-top:0;
margin-top:0;
}
ul#nombre-questions .block-answered{
margin-bottom:0;

}
ul#nombre-questions .block-answered header.panel-heading>ul{
margin-bottom:0;
margin-top:-8px;
}
ul#nombre-questions .block-answered header, ul#nombre-questions .block-unanswered header{
border: 0;
padding-top: 8px;
}


ul#nombre-questions .block-answered  ul,ul#nombre-questions .block-unanswered  ul {
width:100%;
}

ul#nombre-questions .icon-list-collapsed{
position: absolute;
right: 0;
background: transparent;
z-index:2;
}
ul#nombre-questions .icon-list-collapsed a {
color:white;
}

ul#nombre-questions .dropdown-menu{
background:transparent; 
}
.block-unanswered{
margin-bottom:0;
}