/*=======================================================================================================
GLOBAL
=======================================================================================================*/

.reportrange {
	margin-top:-6px;
	margin-right:-5px;
	border:#efefef solid 1px;
	background:#f8f8f8;
	padding:5px;
	cursor:pointer;
}

.icon-spinner {
  position: absolute;
  top: calc(40% - 50px);
  left: calc(50% - 50px);
  font-size: 50px;
}

.panel-footer a {
	cursor:pointer;
}

.panel-footer a.active {
	color:#6eaee8;
}

.sort-menu-btn {
  color: #717171;
  font-weight: bold;
  margin: -6px 5px 0;
  border: #efefef solid 1px;
  background: #f8f8f8;
  border-radius: 0;
}


.sort-menu .dropdown-menu > li {
  padding: 5px 15px;
  cursor: pointer;
}

.sort-menu .dropdown-menu > li:hover,
.sort-menu .dropdown-menu > li:focus,
.sort-menu .dropdown-menu > .active,
.sort-menu .dropdown-menu > .active:hover,
.sort-menu .dropdown-menu > .active:focus {
  background-color: #4c5566;
  background-image: none;
  color: #fff;
  filter: none;
}

.panel-heading {
  padding: 15px;
}

.list-group-item p {
  margin: 0;
}

.view {
  cursor: pointer;
  border: 0;
  border-bottom: 1px solid #ebeff6;
}

.view icon {
  font-size: 14px;
  margin-top:10px;
}

.view:hover {
  background:#fcfdfd;
}

.view.active {
  background: #63a4e1 !important;
  color: white !important;
}

.view.active small {
  color: white;
}

/*=======================================================================================================
AVI
=======================================================================================================*/

ul.avi-top-list {
	padding:0;
	margin:0;
	list-style-type:none;
}

.avi-top-item {
	width:100%;
	margin-top:10px;
	border-bottom:1px solid #f2f6fb;
}

.avi-top-item-position {
	display:inline-block;
	border-right:1px solid #f2f6fb;
	width:70px;
	height:55px;
	line-height:50px;
	text-align:center;
	font-weight:700;
	color:#6eaee8;
	font-size:16px;
	float:left;
}

.avi-top-item-title {
	padding-left:90px;
	line-height:55px;
	margin:0;
}

.avi-top-item-title span {
	line-height:1.2;
	vertical-align:middle;
	display:inline-block;
}

.panel-footer .questions {
  color: #6eaee8;
}

.panel-footer .answered {
  color: #92d050;
}

.redirections {
  height: 300px;
}

/*=======================================================================================================
USER
=======================================================================================================*/

.users-list-wrapper {
  width: 250px;
}

.users-list {
  padding: 0;
  list-style-type: none;
}

.users-list-item {
  padding: 10px;
  cursor: pointer;
}


.users-list-item.active {
  background: #99cb6d;
  color: white;
}

.users-list-item.active small {
  color: white !important;
}

.users-list-item img {
  width: 30px;
  height: 30px;
}

.user-info-wrapper {
  margin-bottom: 30px;
}

.user-info {
  margin-left: 40px;
}

.user-info small {
  margin-top: 0;
}

/*=======================================================================================================
CONVERSATIONS
=======================================================================================================*/

.conversation-details {
	width: 60%;
	border-left: 1px solid #edf0f6;
}

.conversation-section-list {
  padding: 0;
}

.conversation-section-list li {
  display: block;
}

.conversation-section-item img.img-circle {
  width: 35px;
  height: 35px;
  margin-left: 5px;
  float: left;
}

.conversation-section-item p.msg-visitor {
  padding-right: 15px;
  text-align: right;
  font-size: 12px;
  font-weight: 600;
  color: #6075a4;
  border-right: 2px solid #6075a4;
  min-height: 35px;
  word-wrap: break-word;
}

.conversation-section-item p.msg-visitor .date {
  color: #d6d6d6;
  font-weight: 300;
}

.conversation-section-item p.msg-operator {
  border-left: 2px solid #6e7d83;
  font-size: 12px;
  min-height: 35px;
  padding-left: 15px;
}

.msg-with-avatar {
  margin-left: 30px;
  border-left: 0 !important;
}

.conversation-section-item p span {
  color: #d6d6d6;
  display: block;
}

.conversation-section-item p.msg-server {
  border-bottom: 1px dotted #a9abb1;
  padding-bottom: 8px;
  margin-bottom: 20px;
  color: #a9abb1;
}

.conversation-name {
	margin: 5px 0 0 0;
	overflow: hidden;
  -o-text-overflow: ellipsis; /* pour Opera 9 */
  text-overflow: ellipsis;
}

/*=======================================================================================================
LOGS
=======================================================================================================*/

.faq {
  background: #509add;
  color: white;
}

.redirection {
  background: #a6d87a;
  color: white;
}

.question {
  background: #eda418;
  color: white;
}

.chat {
  background: #35acc5;
  color: white;
}