{% trans_default_domain 'FOSUserBundle' %}


  <section id="content" class="m-t-lg wrapper-md animated fadeInUp">
    <div class="row m-n">
      <div class="col-md-4 col-md-offset-4 m-t-lg">
		<section class="panel">
			<header class="panel-heading font-bold">Reset</header>
			<div class="panel-body">
			  <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" method="POST">
			      <label for="username">{{ 'resetting.request.username'|trans }}</label>
			      <input type="text" class="form-control" id="username" name="username" required="required">
			    </div>
			    <button type="submit">{{ 'resetting.request.submit'|trans }}</button>
			  </form>
			</div>
		 </section>
	   </div>
	 </div>
   </section>