/******************
CUSTOM COLORS
******************/

/* Header */

.lily-cst-toolbar {
	background: #cc0038;
	color: #fff;
}

.lily-cst-toolbar-icons{
	background: #a7012e;
}

.lily-cst-toolbar-reduce{
	color: #fff;
}

.lily-cst-toolbar-reduce:active{
	opacity: 0.9;
}

.lily-cst-header{
	background: #efefef;
	color: #404040;
}

/* Menu */

.lily-cts-menu{
	color: #404040;
}

.lily-cst-menu-separator {
	background: #f2f2f2;
}

.lily-cst-menu-footer {
	background-color: #f2f2f2;
}

.lily-cst-menu-footer li {
	border-bottom: 1px solid #fff;
}

/* Search */
.lily-cst-search{
	border-top: 1px solid #ebebeb;
	color: #b1b3b4;
}

.lily-cst-search-input{
	background: #fafafa;
	color: #b1b3b4;
}

input.lily-cst-search-input::-webkit-input-placeholder {color: #b1b3b4;}
input.lily-cst-search-input:-moz-placeholder {color: #b1b3b4;}
input.lily-cst-search-input::-moz-placeholder {color: #b1b3b4;}
input.lily-cst-search-input:ms-input-placeholder {color: #b1b3b4;}

/* Message */

.lily-cst-msg-avatar, #lily-box-messages .lily-cst-msg-redirection, #lily-box-messages .lily-cst-msg-precision{
	background: #FF8800;
}

#lily-box-messages .lily-cst-msg-reporting{
	color: #FF8800;
}

.lily-avatar-bubble, #lily-box-messages .lily-msg-redirection:after{
	border-top: 10px solid #FF8800;
}

.lily-cst-msg-user{
	background: #fff;
	color: #595959;
	border: solid 1px #FF8800;
}

.lily-cst-msg-user:before {
	border-color: #FF8800 transparent;
}

.lily-cst-msg-reporting:before {
	border-color: #cc0038 transparent;
}

.lily-cst-redirection-mail, .lily-cst-redirection-tel, .lily-precision-list{
	background: #fff;
	color: #FF8800;
}

.lily-cst-msg-avatar a {
	padding-bottom: 2px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.lily-cst-msg-avatar a:hover {
	border-bottom: 1px solid rgba(255, 255, 255, 1);
}

/* Chat */

.lily-cst-msg-chat-visitor {
    background: #fff;
	color: #595959;
	border: solid 1px #FF8800;
}

.lily-cst-msg-chat-visitor:before {
	border-color: #FF8800 transparent;
}

.lily-cst-msg-chat-operator {
	background: #FF8800;
}

/*contact form*/

.lily-cst-form-color{
	border: solid 1px rgba(89,89,89,0.2);
}

.lily-contact-form a{
	background-color: #cc0038;
}


/* Faq */

.lily-cst-faq-title-link{
	background: #fff;
	color: #404040;
	font-weight: 600;
	border-bottom: 1px solid #cc0038;
	margin-left: 12px;
	margin-right: 12px;
}

.lily-cst-faq-link{
	background: #fff;
	color: #595959;
	border-bottom: 1px solid #cc0038;
	margin-left: 12px;
	margin-right: 12px;
}

/* Avatar */
.lily-cst-universe{
	-webkit-background-size:cover;
}
