  <li class="list-group-item">
    <div class="media">
      <span class="pull-left thumb-sm"><img src="images/avatar.jpg" alt="John said"></span>
      <div class="pull-right text-success m-t-sm">
        <i class="icon-circle"></i>
      </div>
      <div class="media-body">
        <div><a href="#">CGM</a></div>
		<span class="badge">avi</span><span class="badge">chat</span>
      </div>
    </div>
  </li>
 