<footer class="panel-footer">
<div class="row text-center">
  <a class="col-xs-4 questions b-r">
    <p class="h3 font-bold m-t"><%= requests %></p>
    <p class="text-muted">Questions posées</p>
  </a>
  <a class="col-xs-4 answered b-r">
    <p class="h3 font-bold m-t"><%= answered %></p>
    <p class="text-muted">Questions répondues</p>
  </a>
  <a class="col-xs-4 sucessrate">
    <p class="h3 font-bold m-t"><%= successrate %> %</p>
    <p class="text-muted">Taux de réussite</p>
  </a>
</div>
</footer>