<header class="panel-heading font-bold">Taux de réussite
  <div class="reportrange pull-right">
    <i class="icon-calendar"></i>
    <span></span><b class="caret"></b>
  </div>
</header>
<div class="panel-body">
  <!-- Graph -->
  <div class="graph"></div>
</div>