  <!-- Graph Media -->
  <div class="col-md-12">
    <section class="graph-wrapper panel"></section>
  </div>	
  
  <div class="col-md-6">
    <section class="top-questions-wrapper panel">
    <!-- Top Questions -->
	  </section>
	  <section class="top-categories-wrapper panel">
    <!-- Top Categories -->
	  </section>               
  </div>
  
  <div class="col-md-6">
	<section class="redirections-wrapper panel">
    <!-- Redirections -->
	</section>                
  </div>	
