<header class="panel-heading font-bold">Catégories les plus fréquentes</header>
<div class="panel-body no-padder">
  <ul class="top-questions-list">
    <li class="top-questions-item"></li>
  </ul>
</div>