{%verbatim%}
<%if(typeof(id)=='undefined'){%>

<li class="dd-item dd3-item  largeur-pleine wrapper-action active" data-id="NULL">

<%} else {%>
<li class="dd-item dd3-item  largeur-pleine wrapper-action active" data-id="<%=id%>">
<%}%>
   <div class="dd-handle dd3-handle">Drag</div>

   
   <%if (typeof(title)=='undefined'){%>
         
         <div class="dd3-content sans-padding">
<input class=" content-action" placeholder="Action" >
<!--<i class='icon-pencil edit-action'></i>-->
</div>
<%} else{ %>
<div class="dd3-content sans-padding">

<input class=" largeur-pleine content-action" value="<%=title%>">


<%}%>
</div>
           <ol class="dd-list wrapper-precision wrapper-answer active">
           
           </ol>
		   </li>
	
{%endverbatim%}
