{%verbatim%}                              
<li class="list-group-item content-answer active" >
             <button class="hover-action button-edit-reponse"></button> 
  <div class="reponse-item">
    <%if(typeof(title)=='undefined'){%>
	<i class="icon-reorder icon-reponse pull-left"></i>
	<div class="reponse-name">Titre de la nouvelle réponse</div>
<div class="conteneur-textarea hide"> 
  <textarea class="edit edit-reponse-content" placeholder="Titre de la nouvelle réponse"></textarea>
 </div>
<div class="contenu-wysiwyg"></div>
</div> 
	<% } else {%>
	<i class="icon-reorder icon-reponse pull-left"></i>
	<div class="reponse-name"><%=title%></div>
<div class="conteneur-textarea hide"> 
  <textarea class="edit edit-reponse-content"><%=title%></textarea>
 </div>
<div class="contenu-wysiwyg"></div>
</div> 
	<!-- FIN-->
	<%}%>
</div>       
 </li>



  {%endverbatim%}