<!--Mise en forme d'une question sans réponse-->

<!--<li class="list-group-item animated bounceInLeft resume-question " >      -->
	              <a href="#" class="clear row">
	              	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 question-sans-reponse-a-afficher ">
	                  <span><%=titre %></span>
	              	</div>
	        
	              	<div class="col-lg-2 col-md-4 col-sm-4 col-xs-5 text-center question-sans-reponse-a-afficher text-center">
	                  <small>Posée <%= requetes%> fois</small>
	              	</div>
					     	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 question-sans-reponse-a-afficher text-center">
	                  <span><%=$.format.toBrowserTimeZone(date,'dd/MM/yyyy') %></span>
	              	</div>
	              		  <!-- Colone pour l'affichage de la redirection, à afficher lorsque l'algorithme de sémantique sera ok.-->
                     <!--
                       	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-5 text-center question-sans-reponse-a-afficher">
	                  <small>X Redirections</small>
	              	</div>
                  -->	    
				  
	                <div class="col-md-1 col-sm-1 col-xs-1 text-center question-sans-reponse-delete">
	                	<i class="icon-remove"></i>
          </div>
	              </a>
	  <!--          </li>-->
    