{%verbatim%}

<button class="btn btn-block btn-lg m-t btn-white humeur r intituleCategorie " data-id="category-<%=id%>">
<span class="pull-left liste-titre-categorie">
<%if((typeof(modelDisplay)!='undefined')&&(typeof(modelDisplay.get('category'))!='undefined')&&(modelDisplay.get('category')!=null)){%>
<%if(modelDisplay.get('category').id==id){%>
<div class="icon-check"></div>
<%}else{%>
<div class="unchecked-categorie"></div>
<%}%>
<%} else {%>
<div class="unchecked-categorie"></div>
<%}%>
<%=title%></span><span><%=redirection.title%></span> 


<%if(redirection.pardefaut==true){%>
<span class="pull-right">redirection active<i class="icon-star"></i></span> 
<%}%>




</button>



{%endverbatim%}