      <a href="#" class="bg-transparent" >
                        <i class="icon-circle text-danger pull-left m-t-xs categorie" style="color:#<%=color %>" id="categorie-<%=id%>"></i>
<div class="category-item-list" data-toggle="class:puce-categorie-cachee" data-target="#categorie-<%=id%>" data-id="<%=id%>"> <%= title%></div>

<span class="categorie-delete "><i class="icon-remove pull-right m-t-xs"></i></span>

                      </a>
