
                           <div class="form-group panneau-detail-version">
						   
                        <h6 class="font-semibold">Arbre de réponses </h6>
     <div class="dd">				  
                            {%verbatim%}
                    
                     <ol class="dd-list" id="contenant-questions-enfants">				    
                        <li class="dd-item" data-id="1">				      
                         <!-- <div class="dd-handle question-parent champ-stocker-titre " contenteditable="true" >
                              Titre de la question
                          </div>-->
                          <input class="dd-handle question-parent champ-stocker-titre" value="<%=title%>">		
                            </li>			      
                          <ol class="dd-list contenant-precision contenant-reponse active" id="questions-enfants-versions">				        

                              
                              
                              
  				        
        </ol>		       
                      			  
                      </ol>			        
                    </div>
					
					
					<h6 class="font-semibold">Redirection active </h6>
					<!--Gestion de la categorie -->
					
					
					<button class="btn btn-block btn-lg m-t btn-white humeur r intituleCategorie categorie-<%=data.categorieAfficher%>">
					
					
					<span class="pull-left liste-titre-categorie"><div class="unchecked-categorie icon-check"></div>
<%-data.categorieAfficher%></span>
<span><%=data.redirection%></span> <span class="pull-right">redirection active<i class="icon-star"></i></span> </button>
					<h6 class="font-semibold">Humeur </h6>
					                      <div>                                                                                                                                                                                                                                                                                                                                        
                          
                            <button class=" bouton-humeur btn btn-lg m-t btn-white humeur r humeur-<%=data.humeur%>" ><%=data.humeur%>
  <div class="logo-humeur-version-<%=data.humeur%> logo-humeur-version"></div>                           
						   </button>           
</div>							
                            
					<h6 class="font-semibold">Résumé des statistiques </h6>
				<div class="progress progress-xs m-n m-t-q-sm question-a-afficher">
                      <div class="progress-bar progress-bar-info" data-toggle="tooltip" data-placement="left" data-original-title="satisfaction 20%" style="width: <%=satisfaction%>%"></div>
                      </div>
					<button class='come-back' >Revenir à cette Version</button>
                            </div>	
							


                                 {%endverbatim%}









