  			{%verbatim%}
  <div class="vbox popup-edition">

      <div class="wrapper">
        <div class="clearfix m-b">
          <div class="clear">
            <h5>Contenu</h5>
            <small class="text-muted">Nous vous conseillons de limiter votre réponse à 300 caractères.</small> 
            <div class="form-group m-t">
			
<%otl = this;%>
			<%if(typeof(title)=='undefined'){%>
              <textarea id="answer-editor" class="form-control input-sm" placeholder="Contenu de la réponse"></textarea> 
            <%}else{%>
			<textarea id="answer-editor" class="form-control input-sm"><%=title%></textarea> 
			<%}%>
	
			</div>
          </div>
        </div>
		 <button class="btn btn-sm btn-success button-update-answer">Sauvegarder</button>
      <button class="btn btn-sm btn-danger button-cancel-answer m-l">Annuler</button>
      </div>

    <!--<footer class="dk footer text-center">
      
    </footer> -->
  </div>		{%endverbatim%}