<header class="header menu-header bg-light">
  <ul class="nav nav-tabs nav-tabs-wrapper">
    <li class="questions-answer-nav active"><a href="#answer">Réponse</a></li>
    <li class="categories-nav"><a href="#avi">Categories</a></li>
    <li class="versions-nav"><a href="#chat">Versions</a></li>
  </ul>
</header>

<section class="scrollable">
  
  <!-- Buttons header -->
  <div class="pull-right">
  	<div class="btn-group">
    	<button class="btn btn-sm btn-edit-precisions">
    	  <i class="icon-plus"></i>
        Précisions
    	</button>
    </div>
  	<div class="btn-group">
    	<button class="btn btn-sm btn-edit-answer">
    	  <i class="icon-plus"></i>
        Réponse
    	</button>
    </div>
  	<div class="btn-group">
    	<button class="btn btn-sm btn-edit-action">
    	  <i class="icon-plus"></i>
        Action
    	</button>
    </div>
  </div>
  
</section>

<footer class="bg-light footer text-center">
	<button class="btn btn-sm btn-success button-update">Sauvegarder</button>
	<button class="btn btn-sm btn-danger button-cancel m-l">Annuler</button>
</footer>