{%verbatim%}
<!--Debut du template -->                            
		  <section class="vbox">
            <section class="scrollable hover">
<!--Bouton cancel/update -->              
              
              <span class="pull-right btn btn-danger btn-sm text m-t-sm m-r-sm button-cancel-personal-question" >Annuler</span>
             <%if(idQuestionPersonalDisplay!=0){%>
			 <span  class="pull-right btn btn-success btn-sm m-t-sm m-r-sm text button-update-personal-question" >Mettre à jour</span>
<%} else {%>
<span  class="pull-right btn btn-success btn-sm m-t-sm m-r-sm text button-save-personal-question">Enregistrer</span>
<%}%>
			 <div class="wrapper bg-dark b-b">
			 <%if(idQuestionPersonalDisplay=='0'){%>
			 <h5 class="m-t-xxs m-b-xs3">Ajouter une question personnelle</h5>		
			 <%}else {%>
			 <h5 class="m-t-xxs m-b-xs3">Modifier une question personnelle</h5>		
			 <%}%>
	  </div> 
                
              <section class="panel">
                <header class="panel-heading bg-light">
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#reponse" data-toggle="tab">Réponse</a></li>

				  <!--<li class=""><a href="#categories-question-existante" data-toggle="tab">Catégories</a></li>-->

				  <li class=""><a href="#wrapper-mood" data-toggle="tab">Humeur</a></li>
                   <!-- <li class="onglet-versions"><a href="#version-question-existante" data-toggle="tab">Versions</a></li>-->
                  </ul>
                </header>

                <div class="panel-body">
                  <div class="tab-content">
                    <div class="tab-pane active" id="reponse">
	                                  <!--  <div class="text-sm padder m-t">-->
                <div class="block clearfix v-middle m-b">
                  <label class="m-t-xs font-semibold">Réponse</label><!--Récupérer l'id des questions à partir de la position de la question-->
                             <button href="#" class="btn btn-sm button-delete  pull-right" >                                                                
                        <span class="text">Supprimer
                        </span>                  
                      </button> 
                     
                       <button href="#" class="btn btn-sm m-r pull-right button-add-answer-personal">                    
                        <i class="icon-plus text"></i>                    
                        <span class="text">Réponse                                           
                        </span>                  
                      </button>   
                                  <!--<button href="#" class="btn btn-sm btn-white m-r pull-right button-precision">                    
                        <i class="icon-plus text"></i>                    
                        <span class="text">Précisions
                        </span>                  
                      </button>   -->          
                      <!--<button href="#" class="btn btn-sm m-r pull-right button-action">                    
                        <i class="icon-plus text"></i>                    
                        <span class="text">Action
                        </span>              
                      </button>  -->
                </div>
               
       
    

            

             <!-- </div>--> 
                      <div class="form-group">
                        <!--  <h6 class="font-semibold"></h6>Arbre de réponses--> 
     <div class="dd">				  
                            
                    
                     <ol class="dd-list" id="contenant-questions-enfants">	
				 
                   <!--     <li class="dd-item dd3-item" data-id="IDMODELE">				      -->
<%if(typeof(id)=='undefined'){%>
<li class="dd-item dd3-item" data-id="0">	
<%}else {%>
<li class="dd-item dd3-item" data-id="<%=id%>">	

<%}%>
						<div class="dd-handle dd3-handle">Drag</div>
                        <div class="dd3-content">
					
						
						
                      <!--   <input class="question-parent champ-stocker-titre" value="TITRE" data-id="" data-idcategorie="IDCATEGORIE">-->
		  
						<%if(typeof(id)=='undefined'){%>
						<input class="question-parent content-action"" placeholder="Titre de la question">
		<%} else {%>
					<input class="question-parent content-action" value="<%=title%>">
		<%}%>
						</div>
                        <!--    </li>			      -->
                          <ol class="dd-list wrapper-precision wrapper-answer active" id="questions-enfants">				        

                              
                              
                              
  				        
        </ol>		       
                      			  
                      </ol>			        
                    </div>
                            </div>	
							<div id="contenu-edit">
							
							
							
							
              
            </div>
                            </div>
                   
           
                          <!--</textarea>-->
                          <!-- Début du WYSISWYG-->
                          <!--<div class="btn-toolbar btn-editor" data-role="editor-toolbar" data-target="#editor">
						    <div class="btn-group m-t-sm">
                            <a class="btn btn-white btn-sm" data-edit="bold" title="" data-original-title="Gras (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
                            <a class="btn btn-white btn-sm" data-edit="italic" title="" data-original-title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
                            <a class="btn btn-white btn-sm" data-edit="underline" title="" data-original-title="Souligné (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
                          </div>
						    <div class="btn-group m-t-sm m-l-sm">
                            <a class="btn btn-white btn-sm" title="" id="pictureBtn" data-original-title="Insérer un document (ou &amp; drop)"><i class="icon-picture"></i></a>
                            <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" style="opacity: 0; position: absolute; top: 0px; left: 0px; width: 40px; height: 30px;">
                          </div>
						    <div class="btn-group m-t-sm m-l-sm">
                          <a class="btn btn-white btn-sm dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Lien"><i class="icon-link"></i></a>
                            <div class="dropdown-menu">
                              <div class="input-group m-l-xs m-r-xs">
                                <input class="form-control input-sm" placeholder="URL" type="text" data-edit="createLink">
                                <div class="input-group-btn">
                                  <button class="btn btn-white btn-sm" type="button">Ajouter</button>
                                </div>
                              </div>
                            </div>
                            <a class="btn btn-white btn-sm" data-edit="unlink" title="" data-original-title="Supprimer le lien"><i class="icon-cut"></i></a>
                          </div>
						    <div class="btn-group m-t-sm m-l-sm">
                            <a class="btn btn-white btn-sm" data-edit="undo" title="" data-original-title="Annuler (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>
                            <a class="btn btn-white btn-sm" data-edit="redo" title="" data-original-title="Répéter (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a>
                          </div>
                          </div>  --><!--Fin du WYSIWYG -->
                        <!--</div>--><!--Fin du form group de la reponse-->
              <!--</div>-->
                   
                    <div class="tab-pane " id="wrapper-mood">
                      <ul class="mood-list no-padder col-lg-3 col-md-3 col-sm-3 col-xs-12 clearfix content-mood">      
     </ul>                                                                                                                                                                                                                                                                                                                                                           
                          <div class="mood-avatar">
                          </div>
                    		   
                
                  </div>
                      <div class="tab-pane" id="version-question-existante">
                    <ul class="list-group no-radius m-b-none b-b list-group-alt pull-out-md" id="liste-version-question-existante">
                    
                    </ul>
                    <div id="contenant-detail-version">
                    
                    </div>
                    <!--Historique des versions-->	             
                   </div>
                </div>
              </section>     
            </section>
          </section>

		  {%endverbatim%}