<li class="list-group-item animated bounceInLeft resume-question header-liste-questions ">	              
                      <a class="clear row">	              	
                        <div class="col-lg-6 col-md-3 col-sm-4 col-xs-7 question-show" id="header-questions-personal-title">	                  
                          <span>
                            <span >Intitulé
                                 <span id="fleche-titre-sans-reponse"class="arrow-sort text- pull-right m-t-xs categorie" ></span> 
                            </span> 
                          </span>	              	
                        </div>	              	   	              	
                        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-4  question-show" id="header-questions-personal-answered">
                        <span id="fleche-frequence-sans-reponse"class="arrow-sort text- pull-right m-t-xs categorie" >
                              </span> <small>Réponse</small>
                        </div>
						      <div class="col-lg-1 col-md-2 col-sm-4 col-xs-4 personal-date-col question-show" id="header-questions-personal-date">
                        <span class="arrow-sort text- pull-right m-t-xs categorie" >
                              </span> <small>Date</small>
                        </div>
                     	              </a>	            
                    </li> 
					