<li class="active" id="nbQuestions">
                      <a  href="#"class="meter-question" >
                        <span class="badge bg-success pull-right ">   <%=questions%></span> 
                        <i class="icon-check"></i>
                        Avec réponse
                      </a>
</li>
<li class="" id="nbQuestionsUnanswered">
	<a  class="meter-question-unanswered" >
   	<span class="badge bg-danger pull-right">  <%=unanswered%></span> 
      <i class="icon-inbox"></i>
                      Sans réponse
                      </a>
                    </li>

<li class="m-b" id="nbQuestionsPerso">
	<a  class="meter-questions-perso" >
   	<span class="badge bg-blue-questions pull-right">  <%=personal%></span> 
      <i class="icon-user"></i>
                      Personnelles
                      </a>
                    </li>					
					<!--
<li class="" id="nbRedirections" >
	<a class="meter-redirections" >
   	<span class="badge bg-blue-questions pull-right">  <%=redirections%></span> 
      <i class="icon-share-alt"></i>
                       Redirections
                      </a>
                    </li>	-->