{%verbatim%}
<div class="logo-mood-<%=title.toLowerCase()%>"></div>
<button class=" button-mood btn btn-lg m-t btn-white  r mood-<%=title%>" >
<%if(title=="neutral"){%>
Neutre
<%} else if(title=="happy"){%>
Joyeux
<%} else if(title=="angry"){%>
Enervé
<%} else if(title=="sceptical"){%>
Sceptique
<%} else if(title=="sad"){%>
Triste
<%} else {%>
AUTRE
<%}%>
</button>                        
{%endverbatim%}