<div class="checkbox">
		<input type="checkbox" name="select">
</div>

<p class="title">
  <%=title %>
</p>

<div>
  <div class="categories">
  </div>
  <div class="labels">
  </div>
  <div class="informations pull-right">
    <span>
      Posée <%= requests %> fois - Modifié le <%= moment(date).format('DD/MM/YY') %> par <%= modified_by %>
    </span>
  </div>
</div>

