<!--Mise en forme d'une question -->
	                {% verbatim %}  
<!--<li class="list-group-item animated bounceInLeft resume-question " >-->
	              <a  class="clear row">
	                                   
                  <div class="col-lg-6 col-md-3 col-sm-4 col-xs-7 question-show">
	     
                    
                    
                    <div class="titre-question"><%=title %></div>
	              	</div>
                  

	              
						<div class="col-lg-2 col-md-4 col-sm-6 col-xs-4  question-show">          
						
                          <div class="titre-colonne pull-left"><%=answer.replace(/(<([^>]+)>)/ig,"")%></div> <!--we remove all html tag -> bug of integration if we keep all the HTML tags -->
						  </div>		
<div class="col-lg-1 col-md-4 col-sm-4 col-xs-4 personal-date-col question-show titre-colonne">  
<%=$.format.toBrowserTimeZone(date,'dd/MM/yyyy')%>
</div>						  
	                <div class="col-md-1 col-sm-1 col-xs-1 text-center question-delete">
	                	<i class="icon-remove"></i>
          </div>
	              </a>
				   {% endverbatim %} 
<!--	            </li>-->
