<!--Mise en forme d'une question -->

<!--<li class="list-group-item animated bounceInLeft resume-question " >-->
	              <a href="#" class="clear row">
	              	                {% verbatim %}  
                    <div class="conteneur-categorie">
                  <%if(typeof(category)!=='undefined'){%>
				  <%if((category!=null)&&(category!='')){%><!--on vérifique la catégorie existe -->
                         <!--Cas particulier pour les questions qui n'ont pas de catégorie et à qui on en recréé une artificiellement -->
                    
                      <i class="icon-circle text- pull-left m-t-xs circle-color-category" style="color:#<%= category.color%>"></i>
         
                    <%} else{%>
          
                        <span class="wrapper-category-empty"></span>
         
                    <%}%>   

<%}%>					
               </div>
                       
                  <div class="col-lg-4 col-md-3 col-sm-5 col-xs-8 question-show">
	     
                    
                    
                    <div class="titre-question"><%=title %></div>
	              	</div>
                  
	              	<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4 question-show col-satisfaction">
	                  <div class="progress progress-xs m-n m-t-q-sm question-show">
				
                      <div class="progress-bar progress-bar-info" data-toggle="tooltip" data-placement="left" data-original-title="satisfaction 20%" style="width: <%=satisfaction%>%"></div>
        
					  </div>
	              	</div>
                  <%if(typeof(requests)!=='undefined'){%>
	              	<div class="col-lg-2 col-md-3 col-sm-3 requests-col question-show">
	                  <small>Posée <%= requests %> fois</small>
	              	</div>
	              <%}%>		   	
			
						<div class="col-lg-2 colonne-date-ajout question-show">                                         
                          <div class="titre-colonne pull-left"><%=$.format.toBrowserTimeZone(date,'dd/MM/yyyy')%></div>
                     	</div>			
	                <div class="col-md-1 col-sm-1 col-xs-1 text-center question-delete">
	                	<i class="icon-remove"></i>
          </div>
	              </a>
				   {% endverbatim %} 
<!--	            </li>-->
