<ul class="nav nav-pills nav-stacked no-radius m-t-sm" id="conteneur-liste-categories">
                  <!--Liste des catégories -->                    
                  <li class="padder text-sm l-h-3x" >                      
                    <span>Catégories
                      <!--Au clic sur la balise i suivante, ajoute une nouvelle catégorie-->                                              
                      <a href="#" data-toggle="class:show" data-target="#popup-categorie" class="add-category">
                      <span class="pull-right">  <i class="icon-plus  m-t " ></i><span>    Ajouter</span></span>
					  
					  </a>
                      <!--Popup pour la modification de la catégorie-->
                    </span>                    
                  </li>
                  <!--Au clic sur une catégorie, affiche tous les éléments de la dite catégorie. Reprendre la fonction de tri du premier TP -->                        
                  <div id="popup-categorie" class="hide">	
                    
                  </div>
                 
					<ul  id="liste-categories">
      
               

                  </ul>
				
		
				  
				  
				  
<!--<ul class="nav nav-pills nav-stacked no-radius m-t-sm" id="liste-categories">             
                  </ul> -->





				  
                </ul>   


