<!--Mise en forme d'une question -->

<!--<li class="list-group-item animated bounceInLeft resume-question " >-->
	              <a  class="clear row">
	              	                {% verbatim %}  

                       
                  <div class="col-lg-6 col-md-6 col-sm-4 col-xs-8 question-show">
	     
                    
                    
                    <div class="titre-question"><%=title %></div>
	              	</div>
                  

                  
	              	<div class="col-lg-2 col-md-3 col-sm-4  request-col-unanswered question-show">
	                  <small>Posée <%=requests%> fois</small>
	              	</div>
	              
						<div class="col-lg-2 col-xs-2 colonne-date-ajout question-show">                                         
                          <div class="titre-colonne pull-left"><%=$.format.toBrowserTimeZone(date,'dd/MM/yyyy')%></div>
                     	</div>			
	                <div class="col-md-1 col-sm-1 col-xs-1 text-center question-delete">
	                	<i class="icon-remove"></i>
          </div>
	              </a>
				   {% endverbatim %} 
<!--	            </li>-->
