  <div class="clear row redirection-view">
	<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
        <a href="#"><span><%=title %></span></a>
	</div>
	<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 text-center">
        <small><%=frequency %></small>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center redirection-action">
	  <a href="#"><i class="icon-sign-blank"></i></a>
        <a href="#"><i class="icon-remove m-l-xs"></i></a>
	</div>
  </div>
