{% extends "LilyBackOfficeBundle::layout.html.twig" %}

{% block body %}

{% include "LilyBackOfficeBundle::menu.html.twig" %}

	{% block content %}
	 	<p>Facturation</p>
	{% endblock %}


	{% block templates %}
	
    {% endblock %}

	{% block bootstrap %}
	    {% autoescape false %}
	    <script type="text/javascript">
	        var root = '{{ path('lily_dashboard') }}';
	        {% if entreprise is defined %}
	        var entreprise = {{ entreprise | serialize | raw }};
	        {% endif %}
	    </script>
	    {% endautoescape %}
	{% endblock %}

{% endblock %}