  <header class="panel-heading font-bold">Statistiques utilisateur
    <div id="reportrange" class="pull-right">
      <i class="icon-calendar"></i>
      <span></span><b class="caret"></b>
    </div>
  </header>
  <div class="panel-body">
    <!-- loader -->
    <div class="loader"><i class="icon-spinner icon-spin icon-2x"></i></div>  
    <div id="graph-userStats"></div>
  </div>