{%verbatim%}

<a id="button-add-question"  class="btn btn-sm btn-primary col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-right m-b-sm" >
         
			  <i class="icon-plus pull-left"></i>Ajouter une question</a>       
			  
			  
			{%endverbatim%}   