{%verbatim%}

<div class="btn-group category-button-filter">
<button class="btn dropdown-toggle  filter-buttons" data-toggle="dropdown"><i class="icon-flag"></i><!-- filter-header filter-buttons-->
<span class="caret"></span> 
</button>
<ul class="dropdown-menu">
                    <li><a href="#">Catégorie 1</a></li>
                    <li><a href="#">Catégorie 2</a></li>
					<li><a href="#">Catégorie 3</a></li>
                  </ul>


</div>

{%endverbatim%}