{%verbatim%}

<div class="btn-group filter-button">
<button class="btn dropdown-toggle  filter-buttons" data-toggle="dropdown">Trier par<!-- filter-header filter-buttons-->
<span class="caret"></span> 
</button>
<ul class="dropdown-menu">
                    <li><a href="#">Date</a></li>
					
                    <li><a href="#">Fréquence</a></li>
                    <li><a href="#">Satisfaction</a></li>
                    <!--<li class="divider"></li>-->
                    <li><a href="#">Utilisateur</a></li>
                  </ul>



</div>



{%endverbatim%}