{%verbatim%}

<div class="btn-group label-button">
<button class="btn dropdown-toggle  filter-buttons" data-toggle="dropdown"><i class="icon-folder-close-alt"></i><!-- filter-header filter-buttons-->
<span class="caret"></span> 
</button>
<ul id="menu-label" class="dropdown-menu">
</ul>


</div>

{%endverbatim%}