<div class="parent title">
  <div class="editor" contenteditable="true">
    <%= title %>
  </div>
</div>

<div class="tree-el answer child">

  <div class="tree-el-type">
    <i class="icon-level-up"></i>
  </div>

  <div class="editor" contenteditable="true">
    <%= answer %>
  </div>

  <div class="toolbar">
    <button class="btn btn-sm btn-toolbar" data-command-name="bold">
      <i class="icon-bold"></i>
    </button>
    <button class="btn btn-sm btn-toolbar" data-command-name="linkPrompt">
      <i class="icon-external-link"></i>
    </button>
  </div>

</div>
