<header class="header edit-header">
  <ul class="nav nav-tabs nav-tabs-wrapper">
    <li class="answer-nav active"><a href="#answer-edit" data-toggle="tab">Réponse</a></li>
    <li class="alternatives-nav"><a href="#alternatives-edit" data-toggle="tab">Alternatives</a></li>
  </ul>
</header>
<section class="tab-content w-f">
  <div id="answer-edit" class="tab-pane wrapper scrollable stretch active">
    <ul class="js-answer-tree">
      <!--
        Here goes our precisions/action/answer list
       -->
    </ul>
  </div>
  <div id="alternatives-edit" class="js-alternatives tab-pane wrapper scrollable stretch">
    <p class="alternative-help">
      <i class="icon-question-sign"></i>
      Une question alternative est une formulation différente de la question qui permet d'améliorer le matching et le comportement de la solution.
    </p>
    <ul class="js-alternatives-list scrollable">
      <!--
        Here goes our precisions/action/answer list
       -->
    </ul>
    <button class="btn btn-block btn-sm add-alternative">Ajouter une alternative</button>
  </div>
</section>
<footer class="lter footer text-center">
	<button class="btn btn-sm btn-success button-update">Sauvegarder</button>
	<button class="btn btn-sm btn-danger button-cancel m-l">Annuler</button>
</footer>