<header class="header edit-header">
  <ul class="nav nav-tabs nav-tabs-wrapper">
    <li class="answer-nav active"><a href="#answer">Réponse</a></li>
    <!-- Not shown for the moment
    <li class="versions-nav"><a href="#chat">Versions</a></li>
    -->
  </ul>
</header>
<section class="w-f">
  <ul class="js-question-tree wrapper scrollable stretch">
    <!--
      Here goes our questions/precisions/action/answer list
     -->
  </ul>
</section>
<footer class="lter footer text-center">
	<button class="btn btn-sm btn-success button-update">Sauvegarder</button>
	<button class="btn btn-sm btn-danger button-cancel m-l">Annuler</button>
</footer>