<header class="panel-heading font-bold">Taux d'utilisation de l'application</header>
<div class="panel-body">
  <div class="loader"><i class="icon-spinner icon-spin icon-2x"></i></div>	
  <div id="usage-graph" style="height: 250px;"></div>
</div>
<footer class="panel-footer">
<div class="row text-center">
  <a class="col-xs-4 loadings b-r">
    <p class="h3 font-bold m-t">{{ loadings }}</p>
    <p class="text-muted">Chargements</p>
  </a>
  <a class="col-xs-4 usage b-r">
    <p class="h3 font-bold m-t">{{ usage }} %</p>
    <p class="text-muted">Utilisation</p>
  </a>
  <a class="col-xs-4 satisfaction">
    <p class="h3 font-bold m-t">{{ satisfaction }} %</p>
    <p class="text-muted">Satisfaction</p>                        
  </a>
</div>
</footer>
