<!--Template for question in the list -->
{% verbatim %}  

<!--<div class="choose-category"></div>-->

<div class="checkbox question-checkbox">
	<label class="checkbox-custom question-checkbox-position">
		<input id="2" type="checkbox" name="checkboxB">
		<i class="icon-unchecked"></i>
	</label>
</div>

<div class="wrapper-right-question">
	<div class="top-line-question question-show">
		<%=title %>
	</div>
	<div class="bottom-line-question question-show question-show-position">
		<%if(typeof(category)!=='undefined'){%>

			<%if(category!==null){%>
			
		<%if(category.parent!==null){%>	
			<%if((category.parent.color=='fee8a4')||(category.parent.color=='fff32e')||(category.parent.color=='d0ff2e')||(category.parent.color=='66fff6')||(category.parent.color=='fe9df6')){%>

				<div class=" categories-label pull-left" style="background-color:#<%=category.parent.color%>;color:black;">
					<%=category.parent.title%>
				</div>
			<%} else {%>
			<div class=" categories-label pull-left" style="background-color:#<%=category.parent.color%>;color:white;">
					<%=category.parent.title%>
				</div>
			
			
			<%}%>
		<%}%>	
		<%if((category.color=='fee8a4')||(category.color=='fff32e')||(category.color=='d0ff2e')||(category.color=='66fff6')||(category.color=='fe9df6')){%>
		<div class="sub-categories-label pull-left" style="background-color:#<%=category.color%>;color:black;">
				<%=category.title%>
			</div>
			
		<%}else {%>
			<div class="sub-categories-label pull-left" style="background-color:#<%=category.color%>;color:white;">
			<%=category.title%>
			</div>

		<%}%>
			<%}%>

		<%}%>

		
		
		<%if(typeof(requests)!=='undefined'){%>                     
		<div class="pull-right"> 
			<%if(typeof(modified_by)!='undefined'){%>
				Posée <%= requests %> fois - Modifié le <%=$.format.toBrowserTimeZone(date,'dd/MM/yyyy')%> par <%=modified_by%>
			<%}else {%>
				Posée <%= requests %> fois - Modifié le <%=$.format.toBrowserTimeZone(date,'dd/MM/yyyy')%>
			<%}%>
			</div>
		<%} else {%>
		<div class="pull-right"> Modifiée le <%=$.format.toBrowserTimeZone(date,'dd/MM/yyyy')%></div>
		<%}%>


	</div>		


	
</div>
<!--</a>-->
{% endverbatim %} 

