<footer class="panel-footer">
  <div class="row text-center">
    <a data-type="loadings" class="col-xs-4 loadings b-r">
      <p class="h3 font-bold m-t"><%= loadings %></p>
      <p class="text-muted">Chargements</p>
    </a>
    <a data-type="usage" class="col-xs-4 usage b-r">
      <p class="h3 font-bold m-t"><%= usage %> %</p>
      <p class="text-muted">Utilisation</p>
    </a>
    <a data-type="satisfaction" class="col-xs-4 satisfaction">
      <p class="h3 font-bold m-t"><%= satisfaction %> %</p>
      <p class="text-muted">Satisfaction</p>                        
    </a>
  </div>
</footer>