<header class="panel-heading font-bold">Taux d'utilisation de l'application
</header>
<div class="panel-body">
  <!-- Graph -->	
  <div class="graph"></div>
  <div class="text-center wrapper">
    <i class="icon-spinner icon-spin icon-large"></i>
  </div>
</div>