  <div class="btn-group sort-menu">
    <button class="btn btn-sm btn-white dropdown-toggle" data-toggle="dropdown">
      Trier par <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li data-criteria="lastname" class="active">Nom</li>
      <li data-criteria="roles">Permissions</li>
      <!-- <li data-criteria="services">Services</li> -->
      <li data-criteria="last_login">Dernière connexion</li>
      <li data-criteria="id">Date de création</li>
    </ul>
  </div>
  <div class="add-user">
    <button class="btn btn-sm btn-primary new-user">Ajouter un compte</button>
  </div>