<!-- Modal -->
  <div class="modal-remove">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="close">Etes-vous sur de vouloir supprimer l'utilisateur ?</h4>
      </div>
      <div class="modal-body">
       Vous allez supprimer un utilisateur, cette action est irréversible. Souhaitez vous continuer ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary modal-close-confirm" data-dismiss="modal">Supprimer l'utilisateur</button>
      </div>
    </div>
  </div>