<div class="view">
  <button class="destroy close hover-action">×</button>
  <img src="<%= converted.avatar %>" class="avatar" alt="Impossible d'afficher l'avatar" width="70" height="70"/>
  <div class="user-info">
  	<div class="user-name"><%=(lastname.toUpperCase()) %> <%= firstname %></div>
  	<div class="user-role"><%= converted.roles %></div>
    <div class="user-last-login"><%= converted.last_login %></div>
  </div>
</div>