<header class="header menu-header bg-light lter">
  <ul class="nav nav-tabs nav-tabs-wrapper">
    <li class="usage-nav"><a href="#usage">Utilisation</a></li>
    {% if app.user.client.config.avi %}
    <li class="avi-nav"><a href="#avi">Avatar</a></li>
    {% endif %}
    {% if app.user.client.config.chat %}
    <li class="chat-nav"><a href="#chat">Chat</a></li>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
    <li class="users-nav"><a href="#users">Opérateurs</a></li>
    {% endif %}
  </ul>
</header>
<section class="tab-content-wrapper scrollable">
  <section class="hbox stretch tab-content wrapper-lg bg-light">
    <section class="tab-pane row usage-wrapper">
    <!-- Usage -->
    </section>
    <section class="tab-pane row avi-wrapper">
    <!-- Avi -->
    </section>
    <section class="tab-pane row chat-wrapper">
    <!-- Chat -->
    </section>
    <section class="tab-pane users-wrapper">
    <!-- Users -->
    </section>
    <div class="text-center wrapper">
      <i class="icon-spinner icon-spin icon-large"></i>
    </div>
  </div>
</section>