	<header class="header bg-dark bg-gradient">
	  <ul class="nav nav-tabs">
	    <li class="active"><a href="#usage" data-toggle="tab">Utilisation</a></li>
	    {% if (app.user.client.config.avi) %}
	    <li><a href="#avi" data-toggle="tab">Avatar</a></li>
	    {% endif %}
	    {% if (app.user.client.config.chat) %}
	    <li><a href="#chat" data-toggle="tab">Chat</a></li>
	    {% endif %}
	    <li><a href="#users" data-toggle="tab">Opérateurs</a></li>
	  </ul>
	</header>
  <section>
    <div class="tab-content">
      <div class="tab-pane active" id="usage">
      <!-- Usage -->
      </div>
      <div class="tab-pane" id="avi">
      <!-- Avi -->
      </div>
      <div class="tab-pane" id="chat">
      <!-- Chat -->
      </div>
      <div class="tab-pane" id="users">
      <!-- Users -->
      </div>
      <div class="text-center wrapper">
        <i class="icon-spinner icon-spin icon-large"></i>
      </div>
    </div>
  </section>