<button class="destroy close hover-action">×</button>
<div class="faq-grabber">
  <i class="icon-reorder"></i>
</div>
<div class="view" data-id="<%=id%>">
  <div class="faq-item">
    <span class="faq-name"><%=title %></span>
    <input class="edit form-control" type="text" value="<%=title %>">
    <i class="icon-angle-right"></i>
  </div>
</div>