<div class="view" data-id="<%=id%>">
  <button class="destroy close hover-action">×</button>
  <div class="faq-item">
    <i class="icon-reorder"></i>
    <span class="faq-name"><%=title %></span>
    <input class="edit form-control" type="text" value="<%=title %>">
  </div>
</div>