<header class="panel-heading font-bold">Historique d'activités
  <div id="reportrange" class="pull-right">
    <i class="icon-calendar"></i>
    <span></span><b class="caret"></b>
  </div>
  <div class="btn-group pull-right sort-menu">
    <button class="btn btn-sm sort-menu-btn dropdown-toggle" data-toggle="dropdown">Afficher <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li data-criteria="all" class="active">Tout</li>
      <li data-criteria="faq">Faq</li>
      <li data-criteria="question">Question</li>
      <li data-criteria="chat">Chat</li>
      <li data-criteria="redirection">Redirection</li>
    </ul>
  </div>
</header>
<section class="hbox stretch bg-white">
  <aside><ul id="logs-list"></ul></aside>
</section>
