  <div id="user-overview">
    <span class="icon-chevron-left"></span>
  </div>

  <div id="activity" class="panel">
	<header class="panel-heading bg-light">
	  <ul class="nav nav-tabs">
	    <li class="active"><a href="#tab-chat" data-toggle="tab">Live chat</a></li>
	    <li><a href="#tab-conversations" data-toggle="tab">Conversation</a></li>
	    <li><a href="#tab-knowledgeBase" data-toggle="tab">Base de connaissances</a></li>
	   </ul>
	</header>
    <div class="tab-content bg-light dker">
      <div class="tab-pane active" id="tab-livechat">
        <div id="graph-chat"></div> 
      </div>
      <div class="tab-pane" id="tab-conversations">
        <div id="conversations"></div>
      </div >
      <div class="tab-pane" id="tab-knowledgeBase">
        <div id="knowledgeBaseHistory"></div>
      </div>
    </div>
  </div>
  
  <div class="loader"><i class="icon-spinner icon-spin icon-2x"></i></div>
