{%verbatim%}
<%if((color=='fee8a4')||(color=='fff32e')||(color=='d0ff2e')||(color=='66fff6')||(color=='fe9df6')){%>
<div class="label category-choosen" style="background:#<%=color%>;color:black;" data-id="<%=id%>" data-color="<%=color%>"  data-title="<%=title%>" >
	<%=title%>    <span class="destroy-label">x</span>
</div>
<%} else {%>
<div class="label category-choosen" style="background:#<%=color%>;color:white;" data-id="<%=id%>" data-color="<%=color%>"  data-title="<%=title%>" >
	<%=title%>    <span class="destroy-label">x</span>
</div>
<%}%>

{%endverbatim%}