<div id="lily-home" class="lily-page-cont"><!-- wrapper page les différentes pages -->
	<section class="lily-main-content">

    <div class="avatar-wrapper">
      <div class = "avatar-overflowhide">
        <img class="avatar" src="http://cdn-saio.fr/customer/{{licence}}/images/avatars/avatar2x.png" width="73" height="73">
      </div>
    </div>

		<div class="lily-box-messages">
			<div class="lily-msg-chat-wait">
				<p>Posez vos questions sur SOS-Malus à Labelette notre assistant virtuel</p>
			</div>
			<!-- Here goes the bubbles-->
		</div>
	</section>

  <section class="action-container">
    <form class="avi-input-component">
      <div class="wrapper-input group">
        <input placeholder="Poser une question..." class="textarea-input avi-input">
        <button class="btn btn-sendmsg btn--nostyle">envoyer</button>
      </div>
    </form>

	  <footer class="brand-footer">
  		Créé par <img class="saio-logo" src="http://cdn-saio.fr/customer/{{licence}}/images/saioBrand2x.png">
	  </footer>
  </section>
</div>
