<div id="home" class="page-cont"><!-- wrapper page les différentes pages -->
	<section class="main-content">
		<div class="box-messages">
			<!-- Here goes the bubbles-->
		</div>
	</section>

  <section class="action-container">
    <form class="avi-input-component">
      <div class="wrapper-input group">
        <input placeholder="Poser une question..." class="textarea-input avi-input">
        <button class="btn btn-sendmsg btn--nostyle">envoyer</button>
      </div>
    </form>

	  <footer class="brand-footer">
		  Créé par <img class="saio-logo" src="http://cdn-saio.fr/images/saioBrand2x.png">
	  </footer>
  </section>
</div>
