<div id="lily-home" class="lily-page-cont"><!-- wrapper page les différentes pages -->
	<section class="lily-main-content">
	  {% if config.chat and chatAvailable %}
<!-- 		<header id="lily-header" class="lily-cst-header">
			<a href="#/chat" class=""><p>Parler à un conseiller<i class="lily-icon lily-icon-arrow-right"></i></p></a>
		</header> -->
	  {% endif %}

	    <div class="avatar-wrapper">
	      <img class="avatar" src="http://cdn-saio.fr/customer/{{licence}}/images/avatar2x.png">
	    </div>
		<section class="lily-avatar-wrapper">
			{# http://cdn-saio.fr/customer/{licence}/templates/avatar-svg.html.twig
			{% include '@customer/'~licence~'/templates/avatar-svg.html.twig' %}
			<img src="{{asset('customer/'~licence~'/images/universe.png')}}" class="lily-cst-universe" class="lily-cst-universe" /> #}
    </section>
		<div class="lily-box-messages scrollable">
		<!-- Here goes the bubbles-->
		</div>
	</section>

  <section class="action-container">
		<form class="avi-input-component">
	      <div class="wrapper-input group">
	        <div name="avi-input" contenteditable="true" type="contenteditable" data-placeholder="Poser une question..." class="textarea-input avi-input">
	        </div>

	        <button class="btn btn-sendmsg btn--nostyle">envoyer</button>
	      </div>
	  </form>
	  <footer class="brand-footer">
  		<a class="saio-brandmark" href="www.saio.fr" alt="saio.fr" rel="_blank">
        Créé par <img class="saio-logo" src="http://cdn-saio.fr/customer/{{licence}}/images/saioBrand.png">
      </a>
	  </footer>
  </section>
</div>
