<% if (questions && !_.isEmpty(questions)) { %>
<h3 class="lily-on-boarding-title on-boarding-title-avi">
  <%= onBoarding.title %>
</h3>
<ul class="lily-top-questions-list">
  <% _.each(questions, function(question) { %>
  <li class="lily-top-question-item">
    <a class="lily-top-question-link" href="javascript:;" data-question-id="<%= question.id %>"><%= question.title %></a>
  </li>
  <% }); %>
</ul>
<% } else { %>
<h3 class="lily-on-boarding-title on-boarding-title-avi">
  <%= onBoarding.empty %>
</h3>
<% } %>
