<div id="lily-toolbar" class="lily-cst-toolbar">
  <span class="lily-icon lily-left lily-bt-menu lily-icon-menu"></span>
  <div id="lily-toolbar-name" class="lily-cst-toolbar-name"><%= avi.name %></div>
  <div id="lily-toolbar-icons" class="lily-cst-toolbar-icons">
    <div class="lily-icon-reduce"></div>
  </div>
</div>

<!-- wrapper pour menu -->
<div id='lily-menu' class="snap-drawer snapdrawer-left scrollable lily-cts-menu">
  <div class="lily-menu-body">
    <ul>
        <% if (avi.active) { %>
        <li>
          <a href="#/avi" target="_self">
            <span class='lily-icon lily-icon-avatar'></span>Poser une question
          </a>
        </li>
        <% } %>

        <% if (chat.active && chatAvailable) { %>
        <li>
          <a href="#/chat" data-reverse="true" target="_self">
            <span class='lily-icon lily-icon-conversation'></span>Parler à un conseiller
          </a>
        </li>
        <% } %>

        <% if (avi.redirections.mail) { %>
        <li>
          <a href="#/mail" data-reverse="true" target="_self">
            <span class='lily-icon lily-icon-mail'></span>Nous envoyer un mail
          </a>
        </li>
        <% } %>

        <% if (avi.redirections.phone) { %>
        <li>
          <a href="#/tel" data-reverse="true" target="_self">
            <span class='lily-icon lily-icon-phone'></span>Se faire rappeler
          </a>
        </li>
        <% } %>

    </ul>
  </div>

  <footer>
    <p>
      Créé par <img class="saio-logo" src="http://cdn-saio.fr/images/saioBrand2x.png">
    </p>
  </footer>

</div>

<!-- wrapper page pour menu -->
<div id="lily-wrapper-page" class="snap-content">
</div>
