<div class="toolbar cst-toolbar">
  <span class="icon btn-menu icon-menu"></span>
  <div class="toolbar-name cst-toolbar-name"><%= avi.name %></div>
  <div class="toolbar-icons cst-toolbar-icons">
    <div class="icon-reduce"></div>
  </div>
</div>

<!-- wrapper pour menu -->
<div id='menu' class="snap-drawer snapdrawer-left scrollable cts-menu">
  <div class="menu-body">
    <ul>
        <% if (avi.active) { %>
        <li>
          <a href="#/avi" target="_self">
            <span class='icon icon-avatar'></span>Poser une question
          </a>
        </li>
        <% } %>

        <% if (chat.active && chatAvailable) { %>
        <li>
          <a href="#/chat" data-reverse="true" target="_self">
            <span class='icon icon-conversation'></span>Parler à un conseiller
          </a>
        </li>
        <% } %>

        <% if (avi.redirections.mail) { %>
        <li>
          <a href="#/mail" data-reverse="true" target="_self">
            <span class='icon icon-mail'></span>Nous envoyer un mail
          </a>
        </li>
        <% } %>

        <% if (avi.redirections.phone) { %>
        <li>
          <a href="#/tel" data-reverse="true" target="_self">
            <span class='icon icon-phone'></span>Se faire rappeler
          </a>
        </li>
        <% } %>

    </ul>
  </div>

  <footer>
    <p>
      Créé par <img class="saio-logo" src="http://cdn-saio.fr/images/saioBrand2x.png">
    </p>
  </footer>

</div>

<!-- wrapper page pour menu -->
<div id="wrapper-page" class="snap-content">
</div>
