<div id="lily-chat" class="lily-page-cont"><!-- wrapper page les différentes pages -->
	{% if config.avi.active %}
<!-- 	<header id="lily-header" class="lily-cst-header">
		<a href="#/avi" class="lily-right"><p>Posez votre question à {{ config.avi.name }}<i class="lily-icon lily-icon-arrow-right"></i></p></a>
	</header> -->
	{% endif %}
	<section class="lily-main-content">
		<section class="lily-avatar-wrapper">
			<div id="chat-box-messages" class="chat-messages scrollable">
			<!-- Here goes the bubbles-->
			  <div class="lily-msg-chat-operator lily-cst-msg-chat-operator lily-msg-chat-wait">
			    <p>Bonjour. Veuillez poser votre question, un opérateur va y répondre.</p>
			  </div>
			</div>
		</section>
	</section>

	<section class="action-container">
		<form class="chat-input-component">
      <div class="wrapper-input group">
        <div name="chat-input" contenteditable="true" type="contenteditable" data-placeholder="Commencer une discussion..." class="textarea-input chat-input">
        </div>
        <button class="btn btn-sendmsg btn--nostyle">envoyer</button>
      </div>
	  </form>
  </section>
</div>
