<div id="lily-chat" class="lily-page-cont"><!-- wrapper page les différentes pages -->
	<section class="lily-main-content">
		<section class="lily-avatar-wrapper">
			<div id="chat-box-messages" class="chat-messages">
			<!-- Here goes the bubbles-->
			  <div class="lily-msg-chat-wait">
			    <p><%= onBoardingMsg %></p>
			  </div>
			</div>
		</section>
	</section>

	<section class="action-container">
		<form class="chat-input-component">
	      <div class="wrapper-input group">
	        <div name="ai-input" contenteditable="true" type="contenteditable" data-placeholder="Commencer une discussion..." class="textarea-input chat-input">
	        </div>
	        <button class="btn btn-sendmsg btn--nostyle">envoyer</button>
	      </div>
	  </form>
	  <footer class="brand-footer">
		Créé par <img class="saio-logo" src="http://cdn-saio.fr/images/saioBrand2x.png">
	  </footer>
  </section>
</div>
