<div class="lily-page-cont"> <!--wrapper page les différentes pages-->
	<header id="lily-header" class="lily-cst-header">
	  <span class="lily-icon lily-left lily-bt-menu lily-icon-menu"></span>
	</header>
	<section class="lily-main-content">
	  <div class="lily-contact-form lily-cst-contact-form">
	    <h5 class="lily-contact-form-title">{{ config.chat.contactFormMsg }}</h5>
	    {% if config.chat.contactLastNameField %}
		<p class="lily-contact-form-label">Nom: <label class="lastname" style="display:none">Ce champ ne peut pas être vide.</label></p>
		<input id="lastname" class="lily-cst-form-color" type="text" name="lastname" placeholder="Votre Nom" size="30"/>
		{% endif %}
		{% if config.chat.contactFirstNameField %}
		<p class="lily-contact-form-label">Prénom: <label class="firstname" style="display:none">Ce champ ne peut pas être vide.</label></p>
		<input id="firstname" class="lily-cst-form-color" type="text" name="firstname" placeholder="Votre Prénom" size="30"/>
		{% endif %}
		{% if config.chat.contactEmailField %}
		<p class="lily-contact-form-label">Email: <label class="email" style="display:none">Ce champ ne peut pas être vide.</label></p>
	    <input id="email" class="lily-cst-form-color" type="text" name="email" placeholder="Votre Email" size="30"/>
	    {% endif %}
		<button class="js-submit-welcome-form lily-btn-submit-color" class="button">Commencer la discussion</button>
		{% if config.chat.contactFormAvoidable %}
			<a href="javascript:;" class="lily-skip-link">Aller directement au chat</a>
	  {% endif %}
	  </div>
	</section>
</div>
