<div id="lily-thematique-lvl2" class="lily-page-cont"> <!--wrapper page les différentes pages-->
{%verbatim%}
	<section class="lily-main-content">

		<div class="lily-faq-link lily-cst-faq-title-link lily-back-link">
			<a href="#/faq/<%=parent%>" data-reverse="true" target="_self"><%= title %>
				<p><i class="lily-icon lily-icon-arrow-left"></i>Retour</p>
			</a>
		</div>

		<ul>
			<div class="lily-wrapper-faq-content lily-cst-wrapper-faq-content">
				<p><%= content %></p>
			</div>
		</ul>

	</section>
</div>
{%endverbatim%}





