<div class="lily-page-cont"> <!--wrapper page les différentes pages-->
	<section class="lily-main-content">

    <button class="btn btn--nostyle btn-close">&#10005;</button>

	  <form class="lily-contact-form" name="contact_form">

      <p class="form-micro-copy">
        <%= onBoardingMessage %>
      </p>

      <% if (isRedirectionTel) { %>
      <h4 class="form-section-title">
        <%= callbackFormTitle %>
      </h4>

      <ul class="contact-form-list form-web-callback">
        <li class="contact-form-item">
          <%= formTelLabel %>
          <input class="form-input form-tel" type="tel" name="tel" placeholder="<%= formTelPlaceholder %>" size="30"/>
        </li>

      <li class="contact-form-item">
        <%= formDateLabel %>
        <input id="callback_date" class="form-input form-date" name="date" placeholder="<%= formDatePlaceholder %>">
      </li>

      <li class="contact-form-item">
        <%= formTimeLabel %>
        <select class="form-input form-time" name="callback_time">
          <option value="" selected="selected"><%= formTimePlaceholder %></option>
          <option value="9h_10h">entre 09h et 10h</option>
          <option value="10h_11h">entre 10h et 11h</option>
          <option value="11h_12h">entre 11h et 12h</option>
          <option value="12h_13h">entre 12h et 13h</option>
          <option value="13h_14h">entre 13h et 14h</option>
          <option value="14h_15h">entre 14h et 15h</option>
          <option value="15h_16h">entre 15h et 16h</option>
          <option value="16h_17h">entre 16h et 17h</option>
          <option value="17h_18h">entre 17h et 18h</option>
          <option value="18h_19h">entre 18h et 19h</option>
        </select>
      </li>

      <hr/>

      <p class="form-micro-copy">
        <%= contactFormTitle %>
      </p>

      <% } %>

      <ul class="contact-form-list form-simple-ticket">
        <li class="contact-form-item">
    			<%= formEmailLabel %>
          <input id="email" class="form-input form-email" type="email" name="visitor_email" placeholder="<%= formEmailPlaceholder %>" size="30"/>
        </li>

    		<li class="contact-form-item">
          <%= formObjectLabel %>
    		  <input id="object" class="form-input form-object" type="text" name="message_object" placeholder="<%= formObjectPlaceholder %>" size="30"/>
        </li>

        <li class="contact-form-item">
          <%= formMsgLabel %>
          <textarea id="msg" class="form-input form-msg" type="text" name="message_content" placeholder="<%= formMsgPlaceholder %>" size="30"/>
        </li>
      </ul>

		  <button class="btn btn-submit btn--nostyle progress-button lily-btn-submit-color">
        <% if (isRedirectionTel) { %>
          <%= buttonCtaCallBack %>
        <% } else { %>
          <%= buttonCtaContact %>
        <% } %>
      </button>
	  </form>
	</section>
</div>
