<ul class="choices-container">

<% if (config.hasChat && config.chatAvailable)  { %>
	<li class="redirection-item redirection-chat">
		<a href="#/chat" target="_self">
			<span class="icon icon-conversation"></span>
			<%= copy.chat %>
			<span class="icon icon-arrow-right"></span>
		</a>
	</li>
<% } %>

<% if (config.hasMail) { %>
	<li class="redirection-item redirection-mail">
		<a href="#/mail" target="_self">
			<span class="icon icon-mail"></span>
			<%= copy.mail %>
			<span class="icon icon-arrow-right"></span>
		</a>
	</li>
<% } %>

<% if (config.hasTel)  { %>
	<li class="redirection-item redirection-tel">
		<a href="#/tel" target="_self">
			<span class="icon icon-phone"></span>
			<%= copy.tel %>
			<span class="icon icon-arrow-right"></span>
		</a>
	</li>
<% } %>

	<li class="redirection-item redirection-none">
		<span class="icon icon-cross"></span>
		<%= copy.none %>
		<span class="icon icon-arrow-right"></span>
	</li>
</ul>
