<div class="lily-msg-server">
  <p class="lily-msg-server-title">
    <%= msg %>
  </p>
  <p class="lily-msg-server-infos">
    <span class="lily-msg-server-info"><%= info %></span>
    <button class="lily-msg-server-action <%= userAction.class %>"><%= userAction.label %></button>
  </p>
  </p>
</div>
