<div class="msg-wrapper">
	<p class="message-content">Pour quelle raison ?</p>
	<li class='lily-precision-list lily-completion-incomplete'>La réponse est incomplete</i>
	<li class='lily-precision-list lily-completion-incorrect'>La réponse était incorrecte</i>
</li>
