<div class="msg-wrapper">
	<p class="message-content">Pour quelle raison ?</p>
	<li class='precision-list completion-incomplete'>La réponse est incomplete</i>
	<li class='precision-list completion-incorrect'>La réponse était incorrecte</i>
</li>
