<p class="lily-msg-server-title">
  <%= msg %>
</p>
<p class="lily-msg-server-infos">
  <span class="lily-msg-server-info"><%= info %></span>
  <button class="lily-msg-server-action js-reconnect-action">
      <img class="lily-icon-refresh" src="http://cdn.saio.fr/images/refresh.svg" alt="refresh"><%= userAction %>
  </button>
</p>
