<p>Comment souhaitez-vous nous contacter ?</p>
	<% if (data.isMail) { %>
	<i class="lily-redirection-mail lily-cst-redirection-mail"><a href="#/mail"><span class="lily-icon lily-icon-mail"></span></a></i>
	<% } %>
	<% if (data.isTel)  { %>
	<i class="lily-redirection-tel lily-cst-redirection-tel"><a href="tel:<%=data.redirection.phone%>"><span class="lily-icon lily-icon-phone"></a></span></i>
	<% } %>
	<% if (data.isChat && data.chatAvailable)  { %>
	<i class="lily-redirection-chat lily-cst-redirection-chat"><a href="#/chat"><span class="lily-icon lily-icon-chat"></a></span></i>
	<% } %>