<ul class='lily-precision-list'>
<% _.each(children, function(child) { %>
	<li class="lily-precision-item wrapper-radio-input">
        <label class="radio-input">
            <input type="radio" name="choice">
            <span class="icon-circle-empty"><%= child.title %></span>
        </label>
    </li>
<% }); %>
</ul>
