<p>
			voulez-vous dire :
		</p>
		{%verbatim%}
		<% _.each(questions, function(question) { %> <li class = 'precision-list'><%= question.title %></li> <% }); %>
		{%endverbatim%}
		<i class="reporting-bubble"></i>
