<div class="page-cont"> <!--wrapper page les différentes pages-->
				<section class="main-content">
				<ul>
				{%verbatim%}
				<% if ( data !== 'NULL' ) {
					_.each(data, function(question) { %>{%endverbatim%}
						<li class="faq-link cst-faq-link">
							<a href="#/top-questions/<%=question.question.id%>" target="_self"><%=question.question.title%></a>
							<span class="icon icon-arrow-right"></span>
						</li>
						{%verbatim%}
					<% }); %>
				<% } %>
				{%endverbatim%}
		</ul>
		</section>
		</div>
