
<section class="row wrapper-lg scrollable">

  <!-- Operators info -->
  <div class="col-lg-6">
  
	<section class="panel bg-info lter no-borders operators">
      <div class="panel-body">
        <span class="h4">Opérateurs en ligne</span>
        <div class="text-center padder m-t connected">
          <span class="h1">0</span>
        </div>
      </div>
      <footer class="panel-footer lt">
        <div class="row">
          <div class="col-xs-4 text-center ">
            <h5 class="font-semibold block"><i class="icon-male">0</i></h5>
            <small class="text-muted block">Conversations simultanées</small>
          </div>
          <div class="col-xs-4 text-center">
            <h5 class="font-semibold block"><i class="icon-time">0</i></h5>
            <small class="text-muted block">Durée par conversation</small>
          </div>
          <div class="col-xs-4 text-center">
            <h5 class="font-semibold block"><i class="icon-comments">0</i></h5>
            <small class="text-muted block">Messages par conversation</small>
          </div>
        </div>
      </footer>
    </section>
    
    <section class="panel portlet-item">
      <header class="panel-heading">
        Connectés
      </header>
      <ul class="list-group alt">
      <!-- List of connected operators -->
      </ul>
    </section>
    
  </div>
  
  <!-- Visitors info -->
  <div class="col-lg-6">
  
	<section class="panel bg-success lter no-borders visitors">
      <div class="panel-body">
        <span class="h4">Visiteurs en ligne</span>
        <div class="text-center padder m-t connected">
          <span class="h1">0</span>
        </div>
      </div>
      <footer class="panel-footer lt">
        <div class="row">
          <div class="col-xs-4 text-center ">
            <h5 class="font-semibold block"><i class="icon-time">0</i></h5>
            <small class="text-muted block">Temps d'attente</small>
          </div>
          <div class="col-xs-4 text-center">
            <h5 class="font-semibold block"><i class="icon-eye-open">0</i></h5>
            <small class="text-muted block">Pages vues</small>
          </div>
          <div class="col-xs-4 text-center">
            <h5 class="font-semibold block"><i class="icon-thumbs-up">100%</i></h5>
            <small class="text-muted block">Satisfaction</small>
          </div>
        </div>
      </footer>
    </section> 
    
    <section class="panel">
      <header class="panel-heading">
        Taux de charge
      </header>
      <div class="panel-body text-center">
        <div class="inline">
          <div class="easypiechart easyPieChart" data-percent="0" data-line-width="12" data-loop="false" data-size="160" style="width: 160px; height: 160px; line-height: 160px;">
            <span class="h2">0</span>%
          <canvas width="376" height="376" style="width: 160px; height: 160px;"></canvas></div>
        </div>                      
      </div>
      <div class="panel-footer"><small>Taux calculé en fonction du nombres de visiteurs et d'opérateurs.</small></div>
    </section>
    
  </div>

</section>