  <div class="media">
    <span class="pull-left thumb-sm"><img src="" alt="John said" class="img-circle"></span>
    <div class="pull-right text-success m-t-sm">
      <i class="icon-circle"></i>
    </div>
    <div class="media-body">
      <div><a href="#">Marina Lostan</a></div>
      <small class="text-muted">Service commercial</small>
    </div>
  </div>