  <div class="media">
    <span class="pull-left thumb-sm"><img src="<%= avatar %>" alt="avatar" class="img-circle"></span>
    <div class="pull-right <% if (available) { %>text-success <% } else { %> text-danger <% } %> m-t-sm">
      <i class="icon-circle"></i>
    </div>
    <div class="media-body">
      <div><a href="#"><%= firstname %> <%= lastname %></a></div>
      <small class="text-muted">Services: <% _.each(services, function(service){ console.log(service)}); %></small>
    </div>
  </div>