<header class="header informations-header">
  <h5>INFORMATIONS</h5>
  <icon class="icon-angle-right pull-right"></icon>
  <icon class="icon-angle-left pull-right hide"></icon>
</header>
<section class="informations-section">
  <p>Nom :</p>
  <p>Prenom :</p>
  <p>Email :</p>
  <p>Questions posées à l'avatar :</p>
  <p>Page en cours :</p>
  <p>Pages vues :</p>
</section>