<!-- Modal -->
  <div class="modal-ban">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="close">Etes-vous sur de vouloir bannir l'interlocuteur ?</h4>
      </div>
      <div class="modal-body">
       Une fois banni, votre interlocuteur ne pourra plus engager le dialogue avec les opérateurs de chat pour une durée de 20 minutes. 
       </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary modal-ban-confirm" data-dismiss="modal">Bannir l'interlocuteur</button>
      </div>
    </div>
  </div>