<!-- Modal -->
  <div class="modal-transfer">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="close">A qui souhaitez-vous transférer la conversation ?</h4>
      </div>
      <div class="modal-body">
	    <!--  Where the connected operators goes -->
      </div>
    </div>
  </div>