
  <span class="status status-full answered"></span>
  <div class="informations">
    <p><%= name %></p>
    <label>
      <i class="icon-time timer-chat"></i>
      <% if (transfered) { %><i class="icon-share-sign"></i><% } %>
    </label>
  </div>
  <span class="timer-lastmsg"></span>