<p class="log-name pull-left">
  <% switch(type) {
    case 'faq': %>
      <span class="label faq">Faq</span>
     <% break;
    case 'question': %>
      <span class="label questions">Question</span>
      <% break;
    case 'redirection': %>
      <span class="label redirection ">Redirection</span>
      <% break;
    case 'chat': %>
      <span class="label chat">Chat</span>
      <% break;
  } %>
  <%= title %>
</p>

  <small class="pull-right log-info"><%= action %>, Le <%= moment(logged_at).format('DD MMMM à HH:mm') %></small>

