<div class="media operator-connected-list">
  <div class="pull-right <% if (available) { %>text-success <% } else { %> text-danger <% } %> m-t-sm">
    <i class="icon-circle"></i>
  </div>
  <img src="<%= converted.avatar %>" alt="avatar" class="avatar">
  <div class="media-body">
    <a href="#"><%= firstname %> <%= lastname %></a>
    <small class="text-muted">
      <% _.each(groups, function(group) { %>
        <%= group %>
      <% }); %>
    </small>
  </div>
</div>
